<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>World</key>
	<string>fire</string>
	<key>EnvironmentObject - 4 - 2</key>
	<dict>
		<key>Object</key>
		<string>LevelEnd</string>
		<key>Location</key>
		<integer>1500</integer>
	</dict>
	<key>EnvironmentObject</key>
	<dict>
		<key>Object</key>
		<string>Danger</string>
		<key>Location</key>
		<integer>1075</integer>
		<key>Value1</key>
		<integer>55</integer>
	</dict>
	<key>EnvironmentObject - 3</key>
	<dict>
		<key>Object</key>
		<string>Danger</string>
		<key>Location</key>
		<real>1000</real>
		<key>Value1</key>
		<integer>55</integer>
	</dict>
	<key>EnvironmentObject - 2</key>
	<dict>
		<key>Object</key>
		<string>Ember</string>
		<key>Location</key>
		<real>1000</real>
		<key>Value1</key>
		<integer>350</integer>
		<key>Value2</key>
		<integer>80</integer>
	</dict>
</dict>
</plist>
