*.DS_Store*
*DS_Store*
*.mp4
*.mov
*.screenflow
*.m4v
Resources/Frameworks/
Resources/Frameworks/*
Resources\Frameworks\
Resources\Frameworks\*
Videos/*
Videos\*
Videos\
Videos/
*.xcuserstate*
*.xcbkptlist*