<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Story</key>
	<array>
		<dict>
			<key>Description</key>
			<string>You find an abandoned imal camps and another letter. “c_relationship, I know you are following me. I lead the imals, but I am only a small piece of this. The imals have chosen to revolt on their own.&quot;</string>
			<key>Icon</key>
			<string>tutorial_monk</string>
			<key>Version</key>
			<integer>1</integer>
			<key>Type</key>
			<string>Beginning</string>
		</dict>
		<dict>
			<key>Description</key>
			<string>Darn, you missed Mort again so you continue into the Ignis world for answers...</string>
			<key>Icon</key>
			<string>tutorial_monk</string>
			<key>Version</key>
			<integer>1</integer>
			<key>Type</key>
			<string>Beginning</string>
		</dict>
	</array>
	<key>Challenges</key>
	<array>
		<dict>
			<key>Type</key>
			<string>ReachEndOfLevel</string>
			<key>Reward</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>Type</key>
			<string>DieByEnemies</string>
			<key>Reward</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>World</key>
	<string>water</string>
	<key>EnvironmentObject - 4 - 2</key>
	<dict>
		<key>Object</key>
		<string>LevelEnd</string>
		<key>Location</key>
		<integer>7250</integer>
	</dict>
	<key>EnvironmentObject</key>
	<dict>
		<key>Object</key>
		<string>Starfish</string>
		<key>Location</key>
		<integer>7100</integer>
	</dict>
	<key>EnvironmentObject - 14</key>
	<dict>
		<key>Object</key>
		<string>Jellyfish</string>
		<key>Location</key>
		<real>6950</real>
	</dict>
	<key>EnvironmentObject - 15</key>
	<dict>
		<key>Object</key>
		<string>Cannon</string>
		<key>Location</key>
		<real>6500</real>
		<key>Value1</key>
		<integer>2</integer>
		<key>Value2</key>
		<integer>6200</integer>
	</dict>
	<key>EnvironmentObject - 16</key>
	<dict>
		<key>Object</key>
		<string>Pirahna</string>
		<key>Location</key>
		<integer>6000</integer>
	</dict>
	<key>EnvironmentObject - 17</key>
	<dict>
		<key>Object</key>
		<string>Spikeplant</string>
		<key>Location</key>
		<real>5550</real>
	</dict>
	<key>EnvironmentObject - 18</key>
	<dict>
		<key>Object</key>
		<string>Spikeplant</string>
		<key>Location</key>
		<integer>5400</integer>
	</dict>
	<key>EnvironmentObject - 19</key>
	<dict>
		<key>Object</key>
		<string>Jellyfish</string>
		<key>Location</key>
		<real>5000</real>
	</dict>
	<key>EnvironmentObject - 20</key>
	<dict>
		<key>Object</key>
		<string>Pirahna</string>
		<key>Location</key>
		<integer>4450</integer>
	</dict>
	<key>EnvironmentObject - 5</key>
	<dict>
		<key>Object</key>
		<string>Seaweed</string>
		<key>Location</key>
		<integer>4400</integer>
	</dict>
	<key>EnvironmentObject - 6</key>
	<dict>
		<key>Object</key>
		<string>Jellyfish</string>
		<key>Location</key>
		<integer>4100</integer>
	</dict>
	<key>EnvironmentObject - 7</key>
	<dict>
		<key>Object</key>
		<string>Starfish</string>
		<key>Location</key>
		<integer>4100</integer>
	</dict>
	<key>EnvironmentObject - 8</key>
	<dict>
		<key>Object</key>
		<string>Starfish</string>
		<key>Location</key>
		<integer>3800</integer>
	</dict>
	<key>EnvironmentObject - 9</key>
	<dict>
		<key>Object</key>
		<string>Seaweed</string>
		<key>Location</key>
		<integer>3500</integer>
	</dict>
	<key>EnvironmentObject - 10</key>
	<dict>
		<key>Object</key>
		<string>BubbleMaker</string>
		<key>Location</key>
		<integer>3100</integer>
		<key>Value1</key>
		<integer>3</integer>
	</dict>
	<key>EnvironmentObject - 11</key>
	<dict>
		<key>Object</key>
		<string>Shark</string>
		<key>Location</key>
		<integer>3080</integer>
		<key>Value1</key>
		<integer>120</integer>
	</dict>
	<key>EnvironmentObject - 12</key>
	<dict>
		<key>Object</key>
		<string>Crab</string>
		<key>Location</key>
		<integer>3100</integer>
	</dict>
	<key>EnvironmentObject - 13</key>
	<dict>
		<key>Object</key>
		<string>BubbleMaker</string>
		<key>Location</key>
		<integer>2600</integer>
		<key>Value1</key>
		<real>2.5</real>
	</dict>
	<key>EnvironmentObject - 2</key>
	<dict>
		<key>Object</key>
		<string>Seahorse</string>
		<key>Location</key>
		<real>2400</real>
	</dict>
	<key>EnvironmentObject - 4 - 4 - 2</key>
	<dict>
		<key>Object</key>
		<string>Schooly</string>
		<key>Location</key>
		<integer>1960</integer>
		<key>Value1</key>
		<integer>80</integer>
	</dict>
	<key>EnvironmentObject - 3</key>
	<dict>
		<key>Object</key>
		<string>Schooly</string>
		<key>Location</key>
		<integer>1880</integer>
		<key>Value1</key>
		<integer>80</integer>
	</dict>
	<key>EnvironmentObject - 3 - 2</key>
	<dict>
		<key>Object</key>
		<string>Schooly</string>
		<key>Location</key>
		<integer>1800</integer>
		<key>Value1</key>
		<integer>80</integer>
	</dict>
	<key>EnvironmentObject - 3 - 3</key>
	<dict>
		<key>Object</key>
		<string>Cannon</string>
		<key>Location</key>
		<integer>1680</integer>
		<key>Value1</key>
		<integer>4</integer>
		<key>Value2</key>
		<integer>5200</integer>
	</dict>
	<key>EnvironmentObject - 4 - 4</key>
	<dict>
		<key>Object</key>
		<string>Seaweed</string>
		<key>Location</key>
		<integer>1500</integer>
	</dict>
	<key>EnvironmentObject - 4</key>
	<dict>
		<key>Object</key>
		<string>Shark</string>
		<key>Location</key>
		<integer>1100</integer>
		<key>Value1</key>
		<integer>80</integer>
	</dict>
	<key>EnvironmentObject - 4 - 3</key>
	<dict>
		<key>Object</key>
		<string>Pirahna</string>
		<key>Location</key>
		<integer>800</integer>
	</dict>
</dict>
</plist>
