<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Tutorial</key>
	<array>
		<dict>
			<key>Title</key>
			<string>Lungey</string>
			<key>Description</key>
			<string>I&apos;m still learning to fly!</string>
			<key>Type</key>
			<string>environment</string>
			<key>Class</key>
			<string>Lungey</string>
			<key>Key</key>
			<string>lungey</string>
			<key>Version</key>
			<real>1.1</real>
		</dict>
	</array>
	<key>Challenges</key>
	<array>
		<dict>
			<key>Type</key>
			<string>FullHealth</string>
			<key>Reward</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>Type</key>
			<string>OhSoClose</string>
			<key>Reward</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>World</key>
	<string>air</string>
	<key>EnvironmentObject - 4 - 2</key>
	<dict>
		<key>Object</key>
		<string>LevelEnd</string>
		<key>Location</key>
		<integer>4650</integer>
	</dict>
	<key>EnvironmentObject - 3 - 3 - 3</key>
	<dict>
		<key>Object</key>
		<string>StormCloud</string>
		<key>Location</key>
		<integer>4500</integer>
		<key>Value1</key>
		<integer>35</integer>
	</dict>
	<key>EnvironmentObject - 2 - 3</key>
	<dict>
		<key>Object</key>
		<string>Lungey</string>
		<key>Location</key>
		<integer>4400</integer>
	</dict>
	<key>EnvironmentObject - 2 - 4 - 2 - 2</key>
	<dict>
		<key>Object</key>
		<string>Steady</string>
		<key>Location</key>
		<integer>4250</integer>
		<key>Value1</key>
		<integer>15</integer>
	</dict>
	<key>EnvironmentObject - 3 - 3 - 4</key>
	<dict>
		<key>Object</key>
		<string>StormCloud</string>
		<key>Location</key>
		<integer>4000</integer>
		<key>Value1</key>
		<integer>35</integer>
	</dict>
	<key>EnvironmentObject - 7</key>
	<dict>
		<key>Object</key>
		<string>Flappy</string>
		<key>Location</key>
		<integer>4000</integer>
		<key>Value1</key>
		<real>0.98</real>
	</dict>
	<key>EnvironmentObject - 3 - 3 - 2</key>
	<dict>
		<key>Object</key>
		<string>StormCloud</string>
		<key>Location</key>
		<integer>3850</integer>
		<key>Value1</key>
		<integer>55</integer>
	</dict>
	<key>EnvironmentObject</key>
	<dict>
		<key>Object</key>
		<string>Motherhen</string>
		<key>Location</key>
		<integer>3750</integer>
		<key>Value1</key>
		<integer>1</integer>
		<key>Value2</key>
		<integer>1</integer>
	</dict>
	<key>EnvironmentObject - 7 - 2</key>
	<dict>
		<key>Object</key>
		<string>Flappy</string>
		<key>Location</key>
		<integer>3450</integer>
		<key>Value1</key>
		<real>0.98</real>
	</dict>
	<key>EnvironmentObject - 3 - 2</key>
	<dict>
		<key>Object</key>
		<string>StormCloud</string>
		<key>Location</key>
		<integer>3150</integer>
		<key>Value1</key>
		<integer>25</integer>
	</dict>
	<key>EnvironmentObject - 2</key>
	<dict>
		<key>Object</key>
		<string>Lungey</string>
		<key>Location</key>
		<integer>3050</integer>
	</dict>
	<key>EnvironmentObject - 2 - 4</key>
	<dict>
		<key>Object</key>
		<string>Steady</string>
		<key>Location</key>
		<integer>2750</integer>
		<key>Value1</key>
		<integer>80</integer>
	</dict>
	<key>EnvironmentObject - 2 - 5</key>
	<dict>
		<key>Object</key>
		<string>Orby</string>
		<key>Location</key>
		<integer>2500</integer>
		<key>Value1</key>
		<real>5.5</real>
		<key>Value2</key>
		<integer>30</integer>
	</dict>
	<key>EnvironmentObject - 5</key>
	<dict>
		<key>Object</key>
		<string>Trampoline</string>
		<key>Location</key>
		<integer>2350</integer>
	</dict>
	<key>EnvironmentObject - 7 - 3</key>
	<dict>
		<key>Object</key>
		<string>Flappy</string>
		<key>Location</key>
		<integer>2150</integer>
		<key>Value1</key>
		<real>0.98</real>
	</dict>
	<key>EnvironmentObject - 3 - 3</key>
	<dict>
		<key>Object</key>
		<string>StormCloud</string>
		<key>Location</key>
		<integer>1950</integer>
		<key>Value1</key>
		<integer>80</integer>
	</dict>
	<key>EnvironmentObject - 3</key>
	<dict>
		<key>Object</key>
		<string>Motherhen</string>
		<key>Location</key>
		<integer>1800</integer>
		<key>Value1</key>
		<integer>1</integer>
		<key>Value2</key>
		<integer>1</integer>
	</dict>
	<key>EnvironmentObject - 2 - 4 - 2</key>
	<dict>
		<key>Object</key>
		<string>Steady</string>
		<key>Location</key>
		<integer>1750</integer>
		<key>Value1</key>
		<integer>15</integer>
	</dict>
	<key>EnvironmentObject - 3 - 4</key>
	<dict>
		<key>Object</key>
		<string>StormCloud</string>
		<key>Location</key>
		<integer>1550</integer>
		<key>Value1</key>
		<integer>65</integer>
	</dict>
	<key>EnvironmentObject - 3 - 5</key>
	<dict>
		<key>Object</key>
		<string>StormCloud</string>
		<key>Location</key>
		<integer>1350</integer>
		<key>Value1</key>
		<integer>35</integer>
	</dict>
	<key>EnvironmentObject - 3 - 6</key>
	<dict>
		<key>Object</key>
		<string>StormCloud</string>
		<key>Location</key>
		<real>1200</real>
		<key>Value1</key>
		<integer>25</integer>
	</dict>
	<key>EnvironmentObject - 2 - 5 - 2</key>
	<dict>
		<key>Object</key>
		<string>Orby</string>
		<key>Location</key>
		<integer>1100</integer>
		<key>Value1</key>
		<real>5.5</real>
		<key>Value2</key>
		<integer>30</integer>
	</dict>
	<key>EnvironmentObject - 2 - 2</key>
	<dict>
		<key>Object</key>
		<string>Lungey</string>
		<key>Location</key>
		<integer>900</integer>
	</dict>
	<key>EnvironmentObject - 5 - 2</key>
	<dict>
		<key>Object</key>
		<string>Trampoline</string>
		<key>Location</key>
		<integer>600</integer>
	</dict>
</dict>
</plist>
