<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Tutorial</key>
	<array>
		<dict>
			<key>Title</key>
			<string>Storm Cloud</string>
			<key>Description</key>
			<string>It isn&apos;t safe to fly through a storm cloud.</string>
			<key>Type</key>
			<string>environment</string>
			<key>Class</key>
			<string>StormCloud</string>
			<key>Key</key>
			<string>stormcloud</string>
			<key>Version</key>
			<real>1.1</real>
		</dict>
	</array>
	<key>Challenges</key>
	<array>
		<dict>
			<key>Type</key>
			<string>OneHundredPercent</string>
			<key>Reward</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>Type</key>
			<string>NoHeartsCollected</string>
			<key>Reward</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>World</key>
	<string>air</string>
	<key>EnvironmentObject - 4 - 2</key>
	<dict>
		<key>Object</key>
		<string>LevelEnd</string>
		<key>Location</key>
		<integer>4550</integer>
	</dict>
	<key>EnvironmentObject - 2 - 5 - 3 - 2</key>
	<dict>
		<key>Object</key>
		<string>Orby</string>
		<key>Location</key>
		<integer>4400</integer>
		<key>Value1</key>
		<real>4.5</real>
		<key>Value2</key>
		<integer>50</integer>
	</dict>
	<key>EnvironmentObject - 3 - 4 - 2</key>
	<dict>
		<key>Object</key>
		<string>StormCloud</string>
		<key>Location</key>
		<integer>4150</integer>
		<key>Value1</key>
		<integer>25</integer>
	</dict>
	<key>EnvironmentObject - 2 - 4 - 4</key>
	<dict>
		<key>Object</key>
		<string>Steady</string>
		<key>Location</key>
		<integer>4150</integer>
		<key>Value1</key>
		<integer>15</integer>
	</dict>
	<key>EnvironmentObject - 3 - 4 - 3</key>
	<dict>
		<key>Object</key>
		<string>StormCloud</string>
		<key>Location</key>
		<integer>3950</integer>
		<key>Value1</key>
		<integer>25</integer>
	</dict>
	<key>EnvironmentObject - 2 - 5</key>
	<dict>
		<key>Object</key>
		<string>Orby</string>
		<key>Location</key>
		<integer>3700</integer>
		<key>Value1</key>
		<real>4.5</real>
		<key>Value2</key>
		<integer>90</integer>
	</dict>
	<key>EnvironmentObject - 3 - 4</key>
	<dict>
		<key>Object</key>
		<string>StormCloud</string>
		<key>Location</key>
		<integer>3460</integer>
		<key>Value1</key>
		<integer>25</integer>
	</dict>
	<key>EnvironmentObject - 3 - 3</key>
	<dict>
		<key>Object</key>
		<string>StormCloud</string>
		<key>Location</key>
		<integer>3300</integer>
		<key>Value1</key>
		<integer>25</integer>
	</dict>
	<key>EnvironmentObject - 7</key>
	<dict>
		<key>Object</key>
		<string>Flappy</string>
		<key>Location</key>
		<integer>3150</integer>
		<key>Value1</key>
		<real>0.99</real>
	</dict>
	<key>EnvironmentObject - 2 - 4</key>
	<dict>
		<key>Object</key>
		<string>Steady</string>
		<key>Location</key>
		<integer>2950</integer>
		<key>Value1</key>
		<integer>15</integer>
	</dict>
	<key>EnvironmentObject - 2 - 5 - 3</key>
	<dict>
		<key>Object</key>
		<string>Orby</string>
		<key>Location</key>
		<integer>2800</integer>
		<key>Value1</key>
		<real>4.5</real>
		<key>Value2</key>
		<integer>60</integer>
	</dict>
	<key>EnvironmentObject - 7 - 2</key>
	<dict>
		<key>Object</key>
		<string>Flappy</string>
		<key>Location</key>
		<integer>2500</integer>
		<key>Value1</key>
		<real>0.99</real>
	</dict>
	<key>EnvironmentObject - 3</key>
	<dict>
		<key>Object</key>
		<string>StormCloud</string>
		<key>Location</key>
		<integer>2300</integer>
		<key>Value1</key>
		<integer>90</integer>
	</dict>
	<key>EnvironmentObject - 7 - 3</key>
	<dict>
		<key>Object</key>
		<string>Flappy</string>
		<key>Location</key>
		<integer>2250</integer>
		<key>Value1</key>
		<real>0.99</real>
	</dict>
	<key>EnvironmentObject - 5</key>
	<dict>
		<key>Object</key>
		<string>Trampoline</string>
		<key>Location</key>
		<integer>1900</integer>
	</dict>
	<key>EnvironmentObject - 2 - 4 - 2</key>
	<dict>
		<key>Object</key>
		<string>Steady</string>
		<key>Location</key>
		<integer>1700</integer>
		<key>Value1</key>
		<integer>15</integer>
	</dict>
	<key>EnvironmentObject - 2 - 4 - 3</key>
	<dict>
		<key>Object</key>
		<string>Steady</string>
		<key>Location</key>
		<integer>1400</integer>
		<key>Value1</key>
		<integer>15</integer>
	</dict>
	<key>EnvironmentObject - 3 - 2</key>
	<dict>
		<key>Object</key>
		<string>StormCloud</string>
		<key>Location</key>
		<integer>1150</integer>
		<key>Value1</key>
		<integer>60</integer>
	</dict>
	<key>EnvironmentObject - 7 - 4</key>
	<dict>
		<key>Object</key>
		<string>Flappy</string>
		<key>Location</key>
		<integer>1100</integer>
		<key>Value1</key>
		<real>0.99</real>
	</dict>
	<key>EnvironmentObject - 5 - 2</key>
	<dict>
		<key>Object</key>
		<string>Trampoline</string>
		<key>Location</key>
		<integer>850</integer>
	</dict>
	<key>EnvironmentObject - 2 - 5 - 2</key>
	<dict>
		<key>Object</key>
		<string>Orby</string>
		<key>Location</key>
		<integer>700</integer>
		<key>Value1</key>
		<real>4.5</real>
		<key>Value2</key>
		<integer>70</integer>
	</dict>
</dict>
</plist>
