<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Challenges</key>
	<array>
		<dict>
			<key>Type</key>
			<string>Score3Stars</string>
			<key>Reward</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Type</key>
			<string>FullHealth</string>
			<key>Reward</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>World</key>
	<string>earth</string>
	<key>EnvironmentObject - 4 - 2</key>
	<dict>
		<key>Object</key>
		<string>LevelEnd</string>
		<key>Location</key>
		<real>5200</real>
	</dict>
	<key>EnvironmentObject - 4 - 14</key>
	<dict>
		<key>Object</key>
		<string>SpikeTrap</string>
		<key>Location</key>
		<real>5034</real>
	</dict>
	<key>EnvironmentObject - 4 - 14 - 2</key>
	<dict>
		<key>Object</key>
		<string>SpikeTrap</string>
		<key>Location</key>
		<real>5000</real>
	</dict>
	<key>EnvironmentObject - 4 - 5</key>
	<dict>
		<key>Object</key>
		<string>Goblin</string>
		<key>Location</key>
		<real>4800</real>
		<key>Value1</key>
		<integer>1</integer>
	</dict>
	<key>EnvironmentObject - 4 - 6</key>
	<dict>
		<key>Object</key>
		<string>Panther</string>
		<key>Location</key>
		<real>4300</real>
	</dict>
	<key>EnvironmentObject - 4 - 7</key>
	<dict>
		<key>Object</key>
		<string>Sqworm</string>
		<key>Location</key>
		<real>4180</real>
	</dict>
	<key>EnvironmentObject - 4 - 8</key>
	<dict>
		<key>Object</key>
		<string>Sqworm</string>
		<key>Location</key>
		<real>4120</real>
	</dict>
	<key>EnvironmentObject - 4 - 9</key>
	<dict>
		<key>Object</key>
		<string>Sqworm</string>
		<key>Location</key>
		<real>4060</real>
	</dict>
	<key>EnvironmentObject - 4 - 10</key>
	<dict>
		<key>Object</key>
		<string>Sqworm</string>
		<key>Location</key>
		<real>4000</real>
	</dict>
	<key>EnvironmentObject - 4 - 11</key>
	<dict>
		<key>Object</key>
		<string>SpikeTrap</string>
		<key>Location</key>
		<real>3464</real>
	</dict>
	<key>EnvironmentObject - 4 - 11 - 2</key>
	<dict>
		<key>Object</key>
		<string>SpikeTrap</string>
		<key>Location</key>
		<real>3440</real>
	</dict>
	<key>EnvironmentObject - 4 - 12</key>
	<dict>
		<key>Object</key>
		<string>SpikeTrap</string>
		<key>Location</key>
		<real>3320</real>
	</dict>
	<key>EnvironmentObject - 4 - 13</key>
	<dict>
		<key>Object</key>
		<string>SpikeTrap</string>
		<key>Location</key>
		<real>3200</real>
	</dict>
	<key>EnvironmentObject - 5</key>
	<dict>
		<key>Object</key>
		<string>Panther</string>
		<key>Location</key>
		<real>3000</real>
	</dict>
	<key>EnvironmentObject - 5 - 2</key>
	<dict>
		<key>Object</key>
		<string>Panther</string>
		<key>Location</key>
		<real>2600</real>
	</dict>
	<key>EnvironmentObject - 6</key>
	<dict>
		<key>Object</key>
		<string>Sqworm</string>
		<key>Location</key>
		<real>2260</real>
	</dict>
	<key>EnvironmentObject - 7</key>
	<dict>
		<key>Object</key>
		<string>Sqworm</string>
		<key>Location</key>
		<real>2100</real>
	</dict>
	<key>EnvironmentObject - 8</key>
	<dict>
		<key>Object</key>
		<string>Sqworm</string>
		<key>Location</key>
		<integer>1700</integer>
	</dict>
	<key>EnvironmentObject - 2</key>
	<dict>
		<key>Object</key>
		<string>Panther</string>
		<key>Location</key>
		<integer>1400</integer>
	</dict>
	<key>EnvironmentObject - 3</key>
	<dict>
		<key>Object</key>
		<string>Goblin</string>
		<key>Location</key>
		<integer>800</integer>
		<key>Value1</key>
		<integer>1</integer>
	</dict>
</dict>
</plist>
