<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>World</key>
	<string>earth</string>
	<key>Tutorial</key>
	<array>
		<dict>
			<key>Title</key>
			<string>Did You Know?</string>
			<key>Description</key>
			<string>Hold down on the screen to jump/teleport continuously!</string>
			<key>Type</key>
			<string>tutorial</string>
			<key>Key</key>
			<string>jumpcontinuously</string>
			<key>Version</key>
			<real>1.1</real>
		</dict>
	</array>
	<key>Challenges</key>
	<array>
		<dict>
			<key>Type</key>
			<string>OneHundredPercent</string>
			<key>Reward</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>Type</key>
			<string>NoHeartsCollected</string>
			<key>Reward</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>EnvironmentObject - 5 - 3 - 2 - 2</key>
	<dict>
		<key>Object</key>
		<string>LevelEnd</string>
		<key>Location</key>
		<integer>5600</integer>
	</dict>
	<key>EnvironmentObject - 5 - 3 - 2</key>
	<dict>
		<key>Object</key>
		<string>SpikeTrap</string>
		<key>Location</key>
		<integer>5460</integer>
	</dict>
	<key>EnvironmentObject - 5 - 3 - 3</key>
	<dict>
		<key>Object</key>
		<string>SpikeTrap</string>
		<key>Location</key>
		<integer>5320</integer>
	</dict>
	<key>EnvironmentObject - 5 - 3</key>
	<dict>
		<key>Object</key>
		<string>SpikeTrap</string>
		<key>Location</key>
		<integer>5180</integer>
	</dict>
	<key>EnvironmentObject - 5 - 4</key>
	<dict>
		<key>Object</key>
		<string>Sqworm</string>
		<key>Location</key>
		<integer>4740</integer>
	</dict>
	<key>EnvironmentObject - 5 - 5</key>
	<dict>
		<key>Object</key>
		<string>Sqworm</string>
		<key>Location</key>
		<integer>4670</integer>
	</dict>
	<key>EnvironmentObject - 5 - 6</key>
	<dict>
		<key>Object</key>
		<string>Sqworm</string>
		<key>Location</key>
		<integer>4600</integer>
	</dict>
	<key>EnvironmentObject - 5 - 7</key>
	<dict>
		<key>Object</key>
		<string>SpikeTrap</string>
		<key>Location</key>
		<integer>3960</integer>
	</dict>
	<key>EnvironmentObject - 5 - 8</key>
	<dict>
		<key>Object</key>
		<string>Sqworm</string>
		<key>Location</key>
		<integer>4060</integer>
	</dict>
	<key>EnvironmentObject - 5 - 9</key>
	<dict>
		<key>Object</key>
		<string>SpikeTrap</string>
		<key>Location</key>
		<integer>3800</integer>
	</dict>
	<key>EnvironmentObject - 5 - 10</key>
	<dict>
		<key>Object</key>
		<string>SpikeTrap</string>
		<key>Location</key>
		<real>3424</real>
	</dict>
	<key>EnvironmentObject - 5 - 11</key>
	<dict>
		<key>Object</key>
		<string>SpikeTrap</string>
		<key>Location</key>
		<integer>3400</integer>
	</dict>
	<key>EnvironmentObject - 5 - 2</key>
	<dict>
		<key>Object</key>
		<string>Sqworm</string>
		<key>Location</key>
		<real>3260</real>
	</dict>
	<key>EnvironmentObject - 4 - 2</key>
	<dict>
		<key>Object</key>
		<string>Sqworm</string>
		<key>Location</key>
		<real>3200</real>
	</dict>
	<key>EnvironmentObject - 4</key>
	<dict>
		<key>Object</key>
		<string>SpikeTrap</string>
		<key>Location</key>
		<real>2600</real>
	</dict>
	<key>EnvironmentObject - 5</key>
	<dict>
		<key>Object</key>
		<string>Sqworm</string>
		<key>Location</key>
		<integer>2820</integer>
		<key>Notes</key>
		<string>This is tricky at 3200 but it can be beaten 2 ways - hit the minion and bounce over second, or hit right in front of him and jump.</string>
	</dict>
	<key>EnvironmentObject - 6</key>
	<dict>
		<key>Object</key>
		<string>SpikeTrap</string>
		<key>Location</key>
		<real>2480</real>
		<key>Notes</key>
		<string>This is tough at 2900. Made 2880 to make it easier.</string>
	</dict>
	<key>EnvironmentObject - 7</key>
	<dict>
		<key>Object</key>
		<string>Sqworm</string>
		<key>Location</key>
		<real>2030</real>
	</dict>
	<key>EnvironmentObject - 8</key>
	<dict>
		<key>Object</key>
		<string>Sqworm</string>
		<key>Location</key>
		<real>2000</real>
	</dict>
	<key>EnvironmentObject</key>
	<dict>
		<key>Object</key>
		<string>SpikeTrap</string>
		<key>Location</key>
		<real>1420</real>
	</dict>
	<key>EnvironmentObject - 2</key>
	<dict>
		<key>Object</key>
		<string>SpikeTrap</string>
		<key>Location</key>
		<real>1300</real>
	</dict>
	<key>EnvironmentObject - 3</key>
	<dict>
		<key>Object</key>
		<string>Sqworm</string>
		<key>Location</key>
		<integer>800</integer>
	</dict>
</dict>
</plist>
