<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Story</key>
	<array>
		<dict>
			<key>Description</key>
			<string>You reach the Aqua world quicky. You reflect that as children, your siblings each had a special skill. Mort’s skill was communication with the minions.</string>
			<key>Icon</key>
			<string>story-aqua</string>
			<key>Version</key>
			<integer>1</integer>
			<key>Type</key>
			<string>Beginning</string>
		</dict>
		<dict>
			<key>Description</key>
			<string>You and your siblings used your skills to become leaders of the rulens, but Mort withdrew, and spent his time with the minions. Eventually, Mort never returned home.</string>
			<key>Icon</key>
			<string>story-w2-mort-imals</string>
			<key>Version</key>
			<integer>1</integer>
			<key>Type</key>
			<string>Beginning</string>
		</dict>
	</array>
	<key>Challenges</key>
	<array>
		<dict>
			<key>Type</key>
			<string>NoHeartsCollected</string>
			<key>Reward</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Type</key>
			<string>DontTouchAnything</string>
			<key>Reward</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>World</key>
	<string>water</string>
	<key>Tutorial</key>
	<array>
		<dict>
			<key>Title</key>
			<string>Welcome to the Aqua World!</string>
			<key>Description</key>
			<string>Tip: consider investing in a skill that gets you far off the sea floor.</string>
			<key>Type</key>
			<string>tutorial</string>
			<key>Key</key>
			<string>world_water</string>
			<key>Version</key>
			<real>1.1</real>
		</dict>
		<dict>
			<key>Title</key>
			<string>Mr. Crabby</string>
			<key>Description</key>
			<string>*Beware* - I take 2 hits.</string>
			<key>Type</key>
			<string>environment</string>
			<key>Class</key>
			<string>Crab</string>
			<key>Key</key>
			<string>crab</string>
			<key>Version</key>
			<real>1.1</real>
		</dict>
	</array>
	<key>EnvironmentObject - 4 - 2</key>
	<dict>
		<key>Object</key>
		<string>LevelEnd</string>
		<key>Location</key>
		<integer>4850</integer>
	</dict>
	<key>EnvironmentObject</key>
	<dict>
		<key>Object</key>
		<string>Crab</string>
		<key>Location</key>
		<integer>4700</integer>
	</dict>
	<key>EnvironmentObject - 5 - 2</key>
	<dict>
		<key>Object</key>
		<string>Seaweed</string>
		<key>Location</key>
		<integer>4260</integer>
	</dict>
	<key>EnvironmentObject - 6</key>
	<dict>
		<key>Object</key>
		<string>Shark</string>
		<key>Location</key>
		<real>3900</real>
		<key>Value1</key>
		<integer>60</integer>
	</dict>
	<key>EnvironmentObject - 7</key>
	<dict>
		<key>Object</key>
		<string>Shark</string>
		<key>Location</key>
		<real>3600</real>
		<key>Value1</key>
		<integer>60</integer>
	</dict>
	<key>EnvironmentObject - 2</key>
	<dict>
		<key>Object</key>
		<string>Crab</string>
		<key>Location</key>
		<real>3300</real>
	</dict>
	<key>EnvironmentObject - 4 - 4 - 2</key>
	<dict>
		<key>Object</key>
		<string>Seaweed</string>
		<key>Location</key>
		<integer>2700</integer>
	</dict>
	<key>EnvironmentObject - 3</key>
	<dict>
		<key>Object</key>
		<string>Seaweed</string>
		<key>Location</key>
		<integer>2500</integer>
	</dict>
	<key>EnvironmentObject - 3 - 2</key>
	<dict>
		<key>Object</key>
		<string>Shark</string>
		<key>Location</key>
		<real>2300</real>
		<key>Value1</key>
		<integer>60</integer>
	</dict>
	<key>EnvironmentObject - 3 - 3</key>
	<dict>
		<key>Object</key>
		<string>Seaweed</string>
		<key>Location</key>
		<integer>1900</integer>
	</dict>
	<key>EnvironmentObject - 4 - 4</key>
	<dict>
		<key>Object</key>
		<string>Crab</string>
		<key>Location</key>
		<integer>1600</integer>
	</dict>
	<key>EnvironmentObject - 4</key>
	<dict>
		<key>Object</key>
		<string>Seaweed</string>
		<key>Location</key>
		<real>1000</real>
	</dict>
	<key>EnvironmentObject - 4 - 3</key>
	<dict>
		<key>Object</key>
		<string>Shark</string>
		<key>Location</key>
		<integer>700</integer>
		<key>Value1</key>
		<integer>60</integer>
	</dict>
</dict>
</plist>
