<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Challenges</key>
	<array>
		<dict>
			<key>Type</key>
			<string>Collect75PercentHearts</string>
			<key>Reward</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Type</key>
			<string>DieByProjectiles</string>
			<key>Reward</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>World</key>
	<string>air</string>
	<key>EnvironmentObject - 4 - 2</key>
	<dict>
		<key>Object</key>
		<string>LevelEnd</string>
		<key>Location</key>
		<integer>8075</integer>
	</dict>
	<key>EnvironmentObject - 7</key>
	<dict>
		<key>Object</key>
		<string>Motherhen</string>
		<key>Location</key>
		<integer>7925</integer>
		<key>Value1</key>
		<integer>2</integer>
		<key>Value2</key>
		<integer>1</integer>
	</dict>
	<key>EnvironmentObject - 6</key>
	<dict>
		<key>Object</key>
		<string>DiveBomber</string>
		<key>Location</key>
		<real>7750</real>
		<key>Value1</key>
		<integer>225</integer>
	</dict>
	<key>EnvironmentObject - 5</key>
	<dict>
		<key>Object</key>
		<string>Trampoline</string>
		<key>Location</key>
		<integer>7400</integer>
	</dict>
	<key>EnvironmentObject - 2 - 2 - 4</key>
	<dict>
		<key>Object</key>
		<string>LightningCloud</string>
		<key>Location</key>
		<integer>7400</integer>
		<key>Value1</key>
		<integer>3</integer>
	</dict>
	<key>EnvironmentObject - 4</key>
	<dict>
		<key>Object</key>
		<string>Motherhen</string>
		<key>Location</key>
		<integer>7200</integer>
		<key>Value1</key>
		<integer>2</integer>
		<key>Value2</key>
		<integer>1</integer>
	</dict>
	<key>EnvironmentObject - 2 - 3</key>
	<dict>
		<key>Object</key>
		<string>ExpandyCloud</string>
		<key>Location</key>
		<integer>6700</integer>
	</dict>
	<key>EnvironmentObject - 2 - 2</key>
	<dict>
		<key>Object</key>
		<string>Lungey</string>
		<key>Location</key>
		<integer>6650</integer>
		<key>Value1</key>
		<integer>300</integer>
	</dict>
	<key>EnvironmentObject - 2 - 4 - 2</key>
	<dict>
		<key>Object</key>
		<string>Steady</string>
		<key>Location</key>
		<integer>6235</integer>
		<key>Value1</key>
		<integer>15</integer>
	</dict>
	<key>EnvironmentObject - 2 - 5 - 2</key>
	<dict>
		<key>Object</key>
		<string>Orby</string>
		<key>Location</key>
		<integer>6000</integer>
		<key>Value1</key>
		<integer>6</integer>
		<key>Value2</key>
		<integer>40</integer>
	</dict>
	<key>EnvironmentObject - 2 - 2 - 2</key>
	<dict>
		<key>Object</key>
		<string>LightningCloud</string>
		<key>Location</key>
		<integer>5600</integer>
		<key>Value1</key>
		<integer>2</integer>
	</dict>
	<key>EnvironmentObject - 2 - 5</key>
	<dict>
		<key>Object</key>
		<string>Orby</string>
		<key>Location</key>
		<integer>5460</integer>
		<key>Value1</key>
		<integer>7</integer>
		<key>Value2</key>
		<integer>50</integer>
	</dict>
	<key>EnvironmentObject - 2</key>
	<dict>
		<key>Object</key>
		<string>Lungey</string>
		<key>Location</key>
		<integer>5250</integer>
		<key>Value1</key>
		<integer>300</integer>
	</dict>
	<key>EnvironmentObject - 3 - 2</key>
	<dict>
		<key>Object</key>
		<string>StormCloud</string>
		<key>Location</key>
		<real>4900</real>
		<key>Value1</key>
		<integer>25</integer>
	</dict>
	<key>EnvironmentObject - 4 - 2 - 2 - 2</key>
	<dict>
		<key>Object</key>
		<string>WindBeast</string>
		<key>Location</key>
		<real>4575</real>
	</dict>
	<key>EnvironmentObject - 2 - 4</key>
	<dict>
		<key>Object</key>
		<string>Lungey</string>
		<key>Location</key>
		<integer>4300</integer>
		<key>Value1</key>
		<integer>300</integer>
	</dict>
	<key>EnvironmentObject - 4 - 2 - 2 - 2 - 2</key>
	<dict>
		<key>Object</key>
		<string>WindBeast</string>
		<key>Location</key>
		<integer>3925</integer>
	</dict>
	<key>EnvironmentObject - 6 - 3</key>
	<dict>
		<key>Object</key>
		<string>DiveBomber</string>
		<key>Location</key>
		<integer>3550</integer>
		<key>Value1</key>
		<integer>275</integer>
	</dict>
	<key>EnvironmentObject - 3</key>
	<dict>
		<key>Object</key>
		<string>StormCloud</string>
		<key>Location</key>
		<integer>2975</integer>
		<key>Value1</key>
		<integer>100</integer>
	</dict>
	<key>EnvironmentObject - 5 - 2</key>
	<dict>
		<key>Object</key>
		<string>Trampoline</string>
		<key>Location</key>
		<integer>2800</integer>
	</dict>
	<key>EnvironmentObject - 2 - 3 - 2</key>
	<dict>
		<key>Object</key>
		<string>ExpandyCloud</string>
		<key>Location</key>
		<integer>2700</integer>
	</dict>
	<key>EnvironmentObject - 2 - 2 - 3</key>
	<dict>
		<key>Object</key>
		<string>LightningCloud</string>
		<key>Location</key>
		<integer>2500</integer>
		<key>Value1</key>
		<real>2.5</real>
	</dict>
	<key>EnvironmentObject - 3 - 3</key>
	<dict>
		<key>Object</key>
		<string>StormCloud</string>
		<key>Location</key>
		<integer>2250</integer>
		<key>Value1</key>
		<integer>100</integer>
	</dict>
	<key>EnvironmentObject - 5 - 2 - 2</key>
	<dict>
		<key>Object</key>
		<string>Trampoline</string>
		<key>Location</key>
		<integer>2200</integer>
	</dict>
	<key>EnvironmentObject</key>
	<dict>
		<key>Object</key>
		<string>Motherhen</string>
		<key>Location</key>
		<integer>2150</integer>
		<key>Value1</key>
		<integer>1</integer>
		<key>Value2</key>
		<integer>1</integer>
	</dict>
	<key>EnvironmentObject - 7 - 3</key>
	<dict>
		<key>Object</key>
		<string>Flappy</string>
		<key>Location</key>
		<integer>1650</integer>
		<key>Value1</key>
		<real>0.97</real>
	</dict>
	<key>EnvironmentObject - 4 - 2 - 2 - 2 - 3</key>
	<dict>
		<key>Object</key>
		<string>WindBeast</string>
		<key>Location</key>
		<integer>1350</integer>
	</dict>
	<key>EnvironmentObject - 7 - 2</key>
	<dict>
		<key>Object</key>
		<string>Flappy</string>
		<key>Location</key>
		<real>1000</real>
		<key>Value1</key>
		<real>0.97</real>
	</dict>
	<key>EnvironmentObject - 6 - 2</key>
	<dict>
		<key>Object</key>
		<string>DiveBomber</string>
		<key>Location</key>
		<integer>700</integer>
		<key>Value1</key>
		<integer>250</integer>
	</dict>
</dict>
</plist>
