<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>World</key>
	<string>spirit</string>
	<key>EnvironmentObject - 4 - 2</key>
	<dict>
		<key>Object</key>
		<string>LevelEnd</string>
		<key>Location</key>
		<integer>7800</integer>
	</dict>
	<key>EnvironmentObject - 4 - 2 - 3 - 2 - 2 - 3 - 2 - 2 - 2 - 2</key>
	<dict>
		<key>Object</key>
		<string>BlackHole</string>
		<key>Location</key>
		<integer>7650</integer>
		<key>Value1</key>
		<integer>90</integer>
	</dict>
	<key>EnvironmentObject - 4 - 2 - 3</key>
	<dict>
		<key>Object</key>
		<string>Mimic</string>
		<key>Location</key>
		<integer>7500</integer>
	</dict>
	<key>EnvironmentObject - 4 - 2 - 3 - 2 - 4</key>
	<dict>
		<key>Object</key>
		<string>Wizard</string>
		<key>Location</key>
		<integer>7100</integer>
		<key>Value1</key>
		<integer>1</integer>
	</dict>
	<key>EnvironmentObject - 4 - 2 - 3 - 2 - 2 - 3 - 2 - 2 - 3 - 2 - 4 - 7</key>
	<dict>
		<key>Object</key>
		<string>Teleporter</string>
		<key>Location</key>
		<integer>6900</integer>
		<key>Value1</key>
		<integer>125</integer>
	</dict>
	<key>EnvironmentObject - 4 - 2 - 3 - 2 - 2 - 3 - 2 - 2 - 2 - 3</key>
	<dict>
		<key>Object</key>
		<string>BlackHole</string>
		<key>Location</key>
		<integer>6875</integer>
		<key>Value1</key>
		<integer>40</integer>
	</dict>
	<key>EnvironmentObject - 4 - 2 - 3 - 2 - 2 - 3 - 2 - 2 - 3 - 2 - 3 - 3</key>
	<dict>
		<key>Object</key>
		<string>Mager</string>
		<key>Location</key>
		<integer>6675</integer>
		<key>Value1</key>
		<real>1.25</real>
	</dict>
	<key>EnvironmentObject - 4 - 2 - 3 - 2 - 2 - 3 - 2 - 2 - 3 - 2 - 3 - 2</key>
	<dict>
		<key>Object</key>
		<string>DarkTower</string>
		<key>Location</key>
		<integer>6300</integer>
		<key>Value1</key>
		<integer>70</integer>
	</dict>
	<key>EnvironmentObject - 4 - 2 - 3 - 2 - 2 - 3 - 2 - 2 - 3 - 2 - 4 - 2 - 2 - 2</key>
	<dict>
		<key>Object</key>
		<string>PulseOrb</string>
		<key>Location</key>
		<integer>6250</integer>
		<key>Value1</key>
		<integer>30</integer>
	</dict>
	<key>EnvironmentObject - 4 - 2 - 3 - 2 - 2</key>
	<dict>
		<key>Object</key>
		<string>Wizard</string>
		<key>Location</key>
		<integer>6000</integer>
		<key>Value1</key>
		<integer>2</integer>
	</dict>
	<key>EnvironmentObject - 4 - 2 - 3 - 2 - 2 - 3 - 2 - 2 - 3 - 2 - 4 - 2</key>
	<dict>
		<key>Object</key>
		<string>Teleporter</string>
		<key>Location</key>
		<real>5800</real>
		<key>Value1</key>
		<integer>50</integer>
	</dict>
	<key>EnvironmentObject - 4 - 2 - 3 - 2 - 2 - 3 - 2 - 2 - 3 - 2 - 4 - 5</key>
	<dict>
		<key>Object</key>
		<string>Teleporter</string>
		<key>Location</key>
		<integer>5750</integer>
		<key>Value1</key>
		<integer>70</integer>
	</dict>
	<key>EnvironmentObject - 4 - 2 - 2 - 4</key>
	<dict>
		<key>Object</key>
		<string>Ghost</string>
		<key>Location</key>
		<integer>5650</integer>
	</dict>
	<key>EnvironmentObject - 4 - 2 - 3 - 4</key>
	<dict>
		<key>Object</key>
		<string>Mimic</string>
		<key>Location</key>
		<integer>5500</integer>
	</dict>
	<key>EnvironmentObject - 4 - 2 - 3 - 2 - 2 - 3 - 2 - 2 - 3 - 2 - 3</key>
	<dict>
		<key>Object</key>
		<string>DarkTower</string>
		<key>Location</key>
		<integer>5100</integer>
		<key>Value1</key>
		<integer>25</integer>
	</dict>
	<key>EnvironmentObject - 4 - 2 - 3 - 2 - 2 - 3 - 2 - 2 - 3 - 2 - 5</key>
	<dict>
		<key>Object</key>
		<string>MeteorMaker</string>
		<key>Location</key>
		<integer>5000</integer>
		<key>Value1</key>
		<integer>200</integer>
	</dict>
	<key>EnvironmentObject - 4 - 2 - 2 - 5</key>
	<dict>
		<key>Object</key>
		<string>Ghost</string>
		<key>Location</key>
		<integer>4950</integer>
	</dict>
	<key>EnvironmentObject - 4 - 2 - 3 - 2 - 2 - 3 - 2 - 2 - 3 - 2 - 3 - 3 - 2 - 3 - 3</key>
	<dict>
		<key>Object</key>
		<string>Darkness</string>
		<key>Location</key>
		<integer>4700</integer>
		<key>Value1</key>
		<integer>35</integer>
	</dict>
	<key>EnvironmentObject - 4 - 2 - 3 - 2 - 2 - 3 - 2 - 2 - 2</key>
	<dict>
		<key>Object</key>
		<string>Wisp</string>
		<key>Location</key>
		<integer>4600</integer>
		<key>Value1</key>
		<real>0.65</real>
	</dict>
	<key>EnvironmentObject - 4 - 2 - 3 - 2 - 2 - 3 - 2 - 2 - 2 - 5</key>
	<dict>
		<key>Object</key>
		<string>BlackHole</string>
		<key>Location</key>
		<integer>4150</integer>
		<key>Value1</key>
		<integer>70</integer>
	</dict>
	<key>EnvironmentObject - 4 - 2 - 3 - 2 - 2 - 3 - 2 - 2 - 3 - 2 - 4 - 2 - 4</key>
	<dict>
		<key>Object</key>
		<string>PulseOrb</string>
		<key>Location</key>
		<integer>4000</integer>
		<key>Value1</key>
		<integer>20</integer>
	</dict>
	<key>EnvironmentObject - 4 - 2 - 2 - 3</key>
	<dict>
		<key>Object</key>
		<string>Ghost</string>
		<key>Location</key>
		<integer>3850</integer>
	</dict>
	<key>EnvironmentObject - 4 - 2 - 3 - 2 - 2 - 3 - 2 - 2 - 3 - 2 - 4 - 2 - 2</key>
	<dict>
		<key>Object</key>
		<string>PulseOrb</string>
		<key>Location</key>
		<integer>3500</integer>
		<key>Value1</key>
		<integer>45</integer>
	</dict>
	<key>EnvironmentObject - 4 - 2 - 3 - 2 - 2 - 3 - 2 - 2 - 3 - 2 - 4 - 2 - 2 - 3</key>
	<dict>
		<key>Object</key>
		<string>PulseOrb</string>
		<key>Location</key>
		<integer>3400</integer>
		<key>Value1</key>
		<integer>30</integer>
	</dict>
	<key>EnvironmentObject - 4 - 2 - 2</key>
	<dict>
		<key>Object</key>
		<string>Ghost</string>
		<key>Location</key>
		<integer>3400</integer>
	</dict>
	<key>EnvironmentObject - 4 - 2 - 3 - 2 - 2 - 2</key>
	<dict>
		<key>Object</key>
		<string>Ameba</string>
		<key>Location</key>
		<integer>3050</integer>
		<key>Value1</key>
		<integer>1</integer>
	</dict>
	<key>EnvironmentObject - 4 - 2 - 3 - 2 - 2 - 2 - 2</key>
	<dict>
		<key>Object</key>
		<string>Ameba</string>
		<key>Location</key>
		<integer>3050</integer>
		<key>Value1</key>
		<integer>0</integer>
	</dict>
	<key>EnvironmentObject - 4 - 2 - 3 - 2 - 2 - 3 - 2 - 2 - 3 - 2 - 3 - 3 - 3 - 2</key>
	<dict>
		<key>Object</key>
		<string>Mager</string>
		<key>Location</key>
		<integer>2700</integer>
		<key>Value1</key>
		<real>1.25</real>
	</dict>
	<key>EnvironmentObject - 4 - 2 - 3 - 2 - 2 - 3 - 2 - 2 - 3 - 2 - 7</key>
	<dict>
		<key>Object</key>
		<string>MeteorMaker</string>
		<key>Location</key>
		<integer>2250</integer>
		<key>Value1</key>
		<integer>200</integer>
	</dict>
	<key>EnvironmentObject - 4 - 2 - 3 - 2 - 2 - 3 - 2 - 2 - 3 - 2 - 2</key>
	<dict>
		<key>Object</key>
		<string>MeteorMaker</string>
		<key>Location</key>
		<integer>2100</integer>
		<key>Value1</key>
		<integer>200</integer>
	</dict>
	<key>EnvironmentObject - 4 - 2 - 2 - 2</key>
	<dict>
		<key>Object</key>
		<string>Ghost</string>
		<key>Location</key>
		<integer>2000</integer>
	</dict>
	<key>EnvironmentObject - 4 - 2 - 3 - 3</key>
	<dict>
		<key>Object</key>
		<string>Mimic</string>
		<key>Location</key>
		<integer>1650</integer>
	</dict>
	<key>EnvironmentObject - 4 - 2 - 3 - 2 - 2 - 3</key>
	<dict>
		<key>Object</key>
		<string>Mager</string>
		<key>Location</key>
		<integer>1250</integer>
		<key>Value1</key>
		<integer>1</integer>
	</dict>
	<key>EnvironmentObject - 4 - 2 - 3 - 2 - 3</key>
	<dict>
		<key>Object</key>
		<string>Wizard</string>
		<key>Location</key>
		<integer>1000</integer>
		<key>Value1</key>
		<real>1.25</real>
	</dict>
	<key>EnvironmentObject - 4 - 2 - 3 - 2 - 2 - 3 - 2 - 2 - 2 - 4</key>
	<dict>
		<key>Object</key>
		<string>BlackHole</string>
		<key>Location</key>
		<integer>800</integer>
		<key>Value1</key>
		<integer>70</integer>
	</dict>
</dict>
</plist>
