<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Story</key>
	<array>
		<dict>
			<key>Description</key>
			<string>You realize Mort is angry and jealous since his siblings have become leaders of the 4 worlds and he has accomplished nothing. He wants to destroy the very thing he has no power over.</string>
			<key>Icon</key>
			<string>tutorial_monk</string>
			<key>Version</key>
			<integer>1</integer>
			<key>Type</key>
			<string>Beginning</string>
		</dict>
	</array>
	<key>Challenges</key>
	<array>
		<dict>
			<key>Type</key>
			<string>OneHeartLeft</string>
			<key>Reward</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Type</key>
			<string>Score3Stars</string>
			<key>Reward</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>World</key>
	<string>water</string>
	<key>EnvironmentObject - 4 - 2</key>
	<dict>
		<key>Object</key>
		<string>LevelEnd</string>
		<key>Location</key>
		<integer>6700</integer>
	</dict>
	<key>EnvironmentObject - 4 - 2 - 2</key>
	<dict>
		<key>Object</key>
		<string>Shark</string>
		<key>Location</key>
		<integer>6550</integer>
		<key>Value1</key>
		<integer>60</integer>
	</dict>
	<key>EnvironmentObject - 4 - 2 - 3</key>
	<dict>
		<key>Object</key>
		<string>Seaweed</string>
		<key>Location</key>
		<integer>6200</integer>
	</dict>
	<key>EnvironmentObject</key>
	<dict>
		<key>Object</key>
		<string>Pirahna</string>
		<key>Location</key>
		<integer>5800</integer>
	</dict>
	<key>EnvironmentObject - 5</key>
	<dict>
		<key>Object</key>
		<string>BubbleMaker</string>
		<key>Location</key>
		<real>5800</real>
		<key>Value1</key>
		<real>2.5</real>
	</dict>
	<key>EnvironmentObject - 6</key>
	<dict>
		<key>Object</key>
		<string>Shark</string>
		<key>Location</key>
		<integer>5500</integer>
		<key>Value1</key>
		<integer>60</integer>
	</dict>
	<key>EnvironmentObject - 7</key>
	<dict>
		<key>Object</key>
		<string>Seahorse</string>
		<key>Location</key>
		<integer>5200</integer>
	</dict>
	<key>EnvironmentObject - 8</key>
	<dict>
		<key>Object</key>
		<string>Seaweed</string>
		<key>Location</key>
		<integer>4750</integer>
	</dict>
	<key>EnvironmentObject - 9</key>
	<dict>
		<key>Object</key>
		<string>BubbleMaker</string>
		<key>Location</key>
		<real>4400</real>
		<key>Value1</key>
		<real>2.5</real>
	</dict>
	<key>EnvironmentObject - 10</key>
	<dict>
		<key>Object</key>
		<string>Shark</string>
		<key>Location</key>
		<integer>4200</integer>
		<key>Value1</key>
		<integer>60</integer>
	</dict>
	<key>EnvironmentObject - 11</key>
	<dict>
		<key>Object</key>
		<string>Shark</string>
		<key>Location</key>
		<integer>4100</integer>
		<key>Value1</key>
		<integer>60</integer>
	</dict>
	<key>EnvironmentObject - 12</key>
	<dict>
		<key>Object</key>
		<string>Crab</string>
		<key>Location</key>
		<integer>3800</integer>
	</dict>
	<key>EnvironmentObject - 13</key>
	<dict>
		<key>Object</key>
		<string>Crab</string>
		<key>Location</key>
		<integer>3400</integer>
	</dict>
	<key>EnvironmentObject - 2</key>
	<dict>
		<key>Object</key>
		<string>Seahorse</string>
		<key>Location</key>
		<real>2975</real>
	</dict>
	<key>EnvironmentObject - 4 - 4 - 2</key>
	<dict>
		<key>Object</key>
		<string>Seahorse</string>
		<key>Location</key>
		<real>2750</real>
	</dict>
	<key>EnvironmentObject - 3</key>
	<dict>
		<key>Object</key>
		<string>Shark</string>
		<key>Location</key>
		<real>2500</real>
		<key>Value1</key>
		<integer>60</integer>
	</dict>
	<key>EnvironmentObject - 3 - 2</key>
	<dict>
		<key>Object</key>
		<string>BubbleMaker</string>
		<key>Location</key>
		<real>1950</real>
		<key>Value1</key>
		<real>2.5</real>
	</dict>
	<key>EnvironmentObject - 3 - 3</key>
	<dict>
		<key>Object</key>
		<string>BubbleMaker</string>
		<key>Location</key>
		<integer>1700</integer>
		<key>Value1</key>
		<real>2.5</real>
	</dict>
	<key>EnvironmentObject - 4 - 4</key>
	<dict>
		<key>Object</key>
		<string>Seaweed</string>
		<key>Location</key>
		<integer>1500</integer>
	</dict>
	<key>EnvironmentObject - 4</key>
	<dict>
		<key>Object</key>
		<string>Pirahna</string>
		<key>Location</key>
		<integer>1200</integer>
	</dict>
	<key>EnvironmentObject - 4 - 3</key>
	<dict>
		<key>Object</key>
		<string>Pirahna</string>
		<key>Location</key>
		<integer>800</integer>
	</dict>
</dict>
</plist>
