<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Challenges</key>
	<array>
		<dict>
			<key>Type</key>
			<string>NoHeartsCollected</string>
			<key>Reward</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Type</key>
			<string>DontTouchAnything</string>
			<key>Reward</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>World</key>
	<string>earth</string>
	<key>Tutorial</key>
	<array>
		<dict>
			<key>Title</key>
			<string>objective</string>
			<key>Description</key>
			<string>to progress through the game, you must earn enough stars to unlock the next level. to earn stars you must gain level rewards by freeing minion hearts and traveling as far as you can.</string>
			<key>Type</key>
			<string>tutorial</string>
			<key>Key</key>
			<string>objective</string>
			<key>Version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Title</key>
			<string>level rewards</string>
			<key>Description</key>
			<string>level rewards are earned based on your level completion score: 50% = 1 star, 70% = 2 stars, 90% = 3 stars, 100% = 3 stars plus a superstar.</string>
			<key>Type</key>
			<string>tutorial</string>
			<key>Key</key>
			<string>level_rewards</string>
			<key>Version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Title</key>
			<string>survival</string>
			<key>Description</key>
			<string>to avoid taking damage when colliding with a minion, land on top of them. if a level is too hard, work to earn just enough stars to unlock the next level and move on.</string>
			<key>Type</key>
			<string>tutorial</string>
			<key>Key</key>
			<string>survival</string>
			<key>Version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>EnvironmentObject - 4 - 3 - 2</key>
	<dict>
		<key>Object</key>
		<string>LevelEnd</string>
		<key>Location</key>
		<real>3600</real>
	</dict>
	<key>EnvironmentObject - 4 - 3 - 3</key>
	<dict>
		<key>Object</key>
		<string>Sqworm</string>
		<key>Location</key>
		<real>3450</real>
	</dict>
	<key>EnvironmentObject - 4 - 3</key>
	<dict>
		<key>Object</key>
		<string>Sqworm</string>
		<key>Location</key>
		<integer>3300</integer>
	</dict>
	<key>EnvironmentObject - 7 - 2</key>
	<dict>
		<key>Object</key>
		<string>Sqworm</string>
		<key>Location</key>
		<integer>3200</integer>
	</dict>
	<key>EnvironmentObject - 4 - 2</key>
	<dict>
		<key>Object</key>
		<string>SpikeTrap</string>
		<key>Location</key>
		<integer>2600</integer>
	</dict>
	<key>EnvironmentObject - 4</key>
	<dict>
		<key>Object</key>
		<string>SpikeTrap</string>
		<key>Location</key>
		<integer>2500</integer>
	</dict>
	<key>EnvironmentObject - 5</key>
	<dict>
		<key>Object</key>
		<string>SpikeTrap</string>
		<key>Location</key>
		<integer>2200</integer>
	</dict>
	<key>EnvironmentObject - 6</key>
	<dict>
		<key>Object</key>
		<string>Sqworm</string>
		<key>Location</key>
		<integer>2220</integer>
	</dict>
	<key>EnvironmentObject - 7</key>
	<dict>
		<key>Object</key>
		<string>SpikeTrap</string>
		<key>Location</key>
		<integer>1800</integer>
	</dict>
	<key>EnvironmentObject - 8</key>
	<dict>
		<key>Object</key>
		<string>Sqworm</string>
		<key>Location</key>
		<integer>1700</integer>
	</dict>
	<key>EnvironmentObject</key>
	<dict>
		<key>Object</key>
		<string>Sqworm</string>
		<key>Location</key>
		<integer>1600</integer>
	</dict>
	<key>EnvironmentObject - 2</key>
	<dict>
		<key>Object</key>
		<string>Sqworm</string>
		<key>Location</key>
		<integer>1200</integer>
	</dict>
	<key>EnvironmentObject - 3</key>
	<dict>
		<key>Object</key>
		<string>Sqworm</string>
		<key>Location</key>
		<integer>800</integer>
	</dict>
</dict>
</plist>
