<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Story</key>
	<array>
		<dict>
			<key>Description</key>
			<string>You reach the end of the Terra world and find a letter. “The attack on Terra is the beginning of change. We will unite the imals and conquer the 4 worlds.”</string>
			<key>Icon</key>
			<string>story-envelope</string>
			<key>Version</key>
			<integer>1</integer>
			<key>Type</key>
			<string>End</string>
		</dict>
		<dict>
			<key>Description</key>
			<string>The letter is signed by your brother Mort, but why has he rebelled with the imals?</string>
			<key>Icon</key>
			<string>story-letter</string>
			<key>Version</key>
			<integer>1</integer>
			<key>Type</key>
			<string>End</string>
		</dict>
		<dict>
			<key>Description</key>
			<string>You travel to the Aqua world to find Mort and get answers.</string>
			<key>Icon</key>
			<string>story-mort-walk-aqua</string>
			<key>Version</key>
			<integer>1</integer>
			<key>Type</key>
			<string>End</string>
		</dict>
	</array>
	<key>Challenges</key>
	<array>
		<dict>
			<key>Type</key>
			<string>ReachEndOfLevel</string>
			<key>Reward</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>Type</key>
			<string>DieByEnemies</string>
			<key>Reward</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>World</key>
	<string>earth</string>
	<key>Tutorial</key>
	<array>
		<dict>
			<key>Title</key>
			<string>Next World</string>
			<key>Description</key>
			<string>To unlock the next world world, obtain at least 1 star on this level. </string>
			<key>Type</key>
			<string>tutorial</string>
			<key>Key</key>
			<string>unlocking_worlds</string>
			<key>Version</key>
			<real>1.1</real>
		</dict>
	</array>
	<key>EnvironmentObject - 4 - 2</key>
	<dict>
		<key>Object</key>
		<string>LevelEnd</string>
		<key>Location</key>
		<integer>7350</integer>
	</dict>
	<key>EnvironmentObject - 4 - 14 - 6 - 5</key>
	<dict>
		<key>Object</key>
		<string>HummingBird</string>
		<key>Location</key>
		<real>7180</real>
	</dict>
	<key>EnvironmentObject - 4 - 14 - 6</key>
	<dict>
		<key>Object</key>
		<string>HummingBird</string>
		<key>Location</key>
		<integer>7100</integer>
	</dict>
	<key>EnvironmentObject - 4 - 14 - 6 - 2</key>
	<dict>
		<key>Object</key>
		<string>SpikeTrap</string>
		<key>Location</key>
		<integer>6900</integer>
	</dict>
	<key>EnvironmentObject - 4 - 14 - 6 - 3</key>
	<dict>
		<key>Object</key>
		<string>SpikeTrap</string>
		<key>Location</key>
		<real>6800</real>
	</dict>
	<key>EnvironmentObject - 4 - 14 - 6 - 4</key>
	<dict>
		<key>Object</key>
		<string>SpikeTrap</string>
		<key>Location</key>
		<integer>6700</integer>
	</dict>
	<key>EnvironmentObject - 4 - 14 - 2</key>
	<dict>
		<key>Object</key>
		<string>Panther</string>
		<key>Location</key>
		<integer>6300</integer>
	</dict>
	<key>EnvironmentObject - 4 - 14 - 5</key>
	<dict>
		<key>Object</key>
		<string>Ogre</string>
		<key>Location</key>
		<integer>6300</integer>
	</dict>
	<key>EnvironmentObject - 4 - 14 - 3</key>
	<dict>
		<key>Object</key>
		<string>Panther</string>
		<key>Location</key>
		<integer>6000</integer>
	</dict>
	<key>EnvironmentObject - 4 - 14 - 4</key>
	<dict>
		<key>Object</key>
		<string>SpikeTrap</string>
		<key>Location</key>
		<integer>5700</integer>
	</dict>
	<key>EnvironmentObject - 4 - 13 - 3</key>
	<dict>
		<key>Object</key>
		<string>Mole</string>
		<key>Location</key>
		<integer>5700</integer>
	</dict>
	<key>EnvironmentObject - 4 - 5</key>
	<dict>
		<key>Object</key>
		<string>SpikeTrap</string>
		<key>Location</key>
		<integer>5500</integer>
	</dict>
	<key>EnvironmentObject - 4 - 6</key>
	<dict>
		<key>Object</key>
		<string>SpikeTrap</string>
		<key>Location</key>
		<integer>5300</integer>
	</dict>
	<key>EnvironmentObject - 4 - 7</key>
	<dict>
		<key>Object</key>
		<string>Goblin</string>
		<key>Location</key>
		<integer>5100</integer>
	</dict>
	<key>EnvironmentObject - 4 - 8</key>
	<dict>
		<key>Object</key>
		<string>Beast</string>
		<key>Location</key>
		<integer>4700</integer>
	</dict>
	<key>EnvironmentObject - 4 - 9</key>
	<dict>
		<key>Object</key>
		<string>Panther</string>
		<key>Location</key>
		<integer>4200</integer>
	</dict>
	<key>EnvironmentObject - 4 - 10</key>
	<dict>
		<key>Object</key>
		<string>SpikeShield</string>
		<key>Location</key>
		<integer>4000</integer>
	</dict>
	<key>EnvironmentObject - 4 - 11</key>
	<dict>
		<key>Object</key>
		<string>Goblin</string>
		<key>Location</key>
		<integer>3600</integer>
	</dict>
	<key>EnvironmentObject - 4 - 13 - 2</key>
	<dict>
		<key>Object</key>
		<string>Mole</string>
		<key>Location</key>
		<integer>3600</integer>
	</dict>
	<key>EnvironmentObject - 4 - 12</key>
	<dict>
		<key>Object</key>
		<string>Goblin</string>
		<key>Location</key>
		<integer>3200</integer>
	</dict>
	<key>EnvironmentObject - 4 - 13</key>
	<dict>
		<key>Object</key>
		<string>Mole</string>
		<key>Location</key>
		<real>2800</real>
	</dict>
	<key>EnvironmentObject - 5</key>
	<dict>
		<key>Object</key>
		<string>Panther</string>
		<key>Location</key>
		<integer>2400</integer>
	</dict>
	<key>EnvironmentObject - 8</key>
	<dict>
		<key>Object</key>
		<string>Beast</string>
		<key>Location</key>
		<integer>2000</integer>
	</dict>
	<key>EnvironmentObject</key>
	<dict>
		<key>Object</key>
		<string>Beast</string>
		<key>Location</key>
		<integer>1000</integer>
	</dict>
</dict>
</plist>
