<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Tutorial</key>
	<array>
		<dict>
			<key>Title</key>
			<string>Flash Cloud</string>
			<key>Description</key>
			<string>I was created by Zeus.</string>
			<key>Type</key>
			<string>environment</string>
			<key>Class</key>
			<string>LightningCloud</string>
			<key>Key</key>
			<string>lightningcloud</string>
			<key>Version</key>
			<real>1.1</real>
		</dict>
	</array>
	<key>Challenges</key>
	<array>
		<dict>
			<key>Type</key>
			<string>DieByProjectiles</string>
			<key>Reward</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Type</key>
			<string>DontTouchProjectiles</string>
			<key>Reward</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>World</key>
	<string>air</string>
	<key>EnvironmentObject - 4 - 2</key>
	<dict>
		<key>Object</key>
		<string>LevelEnd</string>
		<key>Location</key>
		<integer>6350</integer>
	</dict>
	<key>EnvironmentObject - 3</key>
	<dict>
		<key>Object</key>
		<string>StormCloud</string>
		<key>Location</key>
		<integer>6200</integer>
		<key>Value1</key>
		<integer>25</integer>
	</dict>
	<key>EnvironmentObject - 2 - 2 - 2</key>
	<dict>
		<key>Object</key>
		<string>LightningCloud</string>
		<key>Location</key>
		<integer>6000</integer>
		<key>Value1</key>
		<integer>3</integer>
	</dict>
	<key>EnvironmentObject - 7 - 3</key>
	<dict>
		<key>Object</key>
		<string>Flappy</string>
		<key>Location</key>
		<real>5750</real>
		<key>Value1</key>
		<real>0.97</real>
	</dict>
	<key>EnvironmentObject - 2 - 3 - 4</key>
	<dict>
		<key>Object</key>
		<string>ExpandyCloud</string>
		<key>Location</key>
		<real>5550</real>
	</dict>
	<key>EnvironmentObject - 2 - 5 - 2</key>
	<dict>
		<key>Object</key>
		<string>Orby</string>
		<key>Location</key>
		<real>5500</real>
		<key>Value1</key>
		<real>6.5</real>
		<key>Value2</key>
		<integer>45</integer>
	</dict>
	<key>EnvironmentObject - 6</key>
	<dict>
		<key>Object</key>
		<string>DiveBomber</string>
		<key>Location</key>
		<integer>5200</integer>
		<key>Value1</key>
		<integer>250</integer>
	</dict>
	<key>EnvironmentObject - 3 - 2</key>
	<dict>
		<key>Object</key>
		<string>StormCloud</string>
		<key>Location</key>
		<integer>5000</integer>
		<key>Value1</key>
		<integer>100</integer>
	</dict>
	<key>EnvironmentObject - 2 - 2 - 3</key>
	<dict>
		<key>Object</key>
		<string>LightningCloud</string>
		<key>Location</key>
		<integer>4750</integer>
		<key>Value1</key>
		<integer>2</integer>
	</dict>
	<key>EnvironmentObject - 2 - 4</key>
	<dict>
		<key>Object</key>
		<string>Lungey</string>
		<key>Location</key>
		<integer>4500</integer>
		<key>Value1</key>
		<integer>300</integer>
	</dict>
	<key>EnvironmentObject - 2 - 3</key>
	<dict>
		<key>Object</key>
		<string>Lungey</string>
		<key>Location</key>
		<integer>4350</integer>
		<key>Value1</key>
		<integer>300</integer>
	</dict>
	<key>EnvironmentObject - 6 - 3</key>
	<dict>
		<key>Object</key>
		<string>DiveBomber</string>
		<key>Location</key>
		<integer>3950</integer>
		<key>Value1</key>
		<integer>250</integer>
	</dict>
	<key>EnvironmentObject - 7 - 2</key>
	<dict>
		<key>Object</key>
		<string>Flappy</string>
		<key>Location</key>
		<integer>3650</integer>
		<key>Value1</key>
		<real>0.98</real>
	</dict>
	<key>EnvironmentObject</key>
	<dict>
		<key>Object</key>
		<string>Motherhen</string>
		<key>Location</key>
		<integer>3400</integer>
		<key>Value1</key>
		<integer>2</integer>
		<key>Value2</key>
		<integer>1</integer>
	</dict>
	<key>EnvironmentObject - 2</key>
	<dict>
		<key>Object</key>
		<string>Lungey</string>
		<key>Location</key>
		<integer>2850</integer>
		<key>Value1</key>
		<integer>300</integer>
	</dict>
	<key>EnvironmentObject - 4 - 2 - 2 - 2</key>
	<dict>
		<key>Object</key>
		<string>WindBeast</string>
		<key>Location</key>
		<integer>2550</integer>
	</dict>
	<key>EnvironmentObject - 2 - 2</key>
	<dict>
		<key>Object</key>
		<string>Lungey</string>
		<key>Location</key>
		<integer>2350</integer>
		<key>Value1</key>
		<integer>300</integer>
	</dict>
	<key>EnvironmentObject - 7</key>
	<dict>
		<key>Object</key>
		<string>Motherhen</string>
		<key>Location</key>
		<integer>2000</integer>
		<key>Value1</key>
		<integer>2</integer>
		<key>Value2</key>
		<integer>1</integer>
	</dict>
	<key>EnvironmentObject - 4</key>
	<dict>
		<key>Object</key>
		<string>Motherhen</string>
		<key>Location</key>
		<integer>1700</integer>
		<key>Value1</key>
		<integer>1</integer>
		<key>Value2</key>
		<integer>1</integer>
	</dict>
	<key>EnvironmentObject - 2 - 5</key>
	<dict>
		<key>Object</key>
		<string>Orby</string>
		<key>Location</key>
		<integer>1400</integer>
		<key>Value1</key>
		<real>5.5</real>
		<key>Value2</key>
		<integer>55</integer>
	</dict>
	<key>EnvironmentObject - 6 - 2</key>
	<dict>
		<key>Object</key>
		<string>DiveBomber</string>
		<key>Location</key>
		<integer>1250</integer>
		<key>Value1</key>
		<integer>250</integer>
	</dict>
	<key>EnvironmentObject - 2 - 3 - 3</key>
	<dict>
		<key>Object</key>
		<string>ExpandyCloud</string>
		<key>Location</key>
		<integer>950</integer>
	</dict>
	<key>EnvironmentObject - 7 - 4</key>
	<dict>
		<key>Object</key>
		<string>Flappy</string>
		<key>Location</key>
		<integer>900</integer>
		<key>Value1</key>
		<real>0.98</real>
	</dict>
	<key>EnvironmentObject - 5</key>
	<dict>
		<key>Object</key>
		<string>Trampoline</string>
		<key>Location</key>
		<integer>600</integer>
	</dict>
</dict>
</plist>
