<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Tutorial</key>
	<array>
		<dict>
			<key>Title</key>
			<string>Mr. Breath</string>
			<key>Description</key>
			<string>A toothbrush? Never heard of it.</string>
			<key>Type</key>
			<string>environment</string>
			<key>Class</key>
			<string>WindBeast</string>
			<key>Key</key>
			<string>windbeast</string>
			<key>Version</key>
			<real>1.1</real>
		</dict>
	</array>
	<key>Challenges</key>
	<array>
		<dict>
			<key>Type</key>
			<string>DontTouchObstacles</string>
			<key>Reward</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Type</key>
			<string>OneHeartLeft</string>
			<key>Reward</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>World</key>
	<string>air</string>
	<key>EnvironmentObject - 4 - 2</key>
	<dict>
		<key>Object</key>
		<string>LevelEnd</string>
		<key>Location</key>
		<integer>5525</integer>
	</dict>
	<key>EnvironmentObject - 7</key>
	<dict>
		<key>Object</key>
		<string>Flappy</string>
		<key>Location</key>
		<integer>5375</integer>
		<key>Value1</key>
		<real>0.98</real>
	</dict>
	<key>EnvironmentObject - 2 - 5</key>
	<dict>
		<key>Object</key>
		<string>Orby</string>
		<key>Location</key>
		<integer>5250</integer>
		<key>Value1</key>
		<integer>6</integer>
		<key>Value2</key>
		<integer>60</integer>
	</dict>
	<key>EnvironmentObject - 4 - 2 - 2 - 2 - 2</key>
	<dict>
		<key>Object</key>
		<string>WindBeast</string>
		<key>Location</key>
		<integer>4900</integer>
	</dict>
	<key>EnvironmentObject - 2 - 4 - 3</key>
	<dict>
		<key>Object</key>
		<string>Steady</string>
		<key>Location</key>
		<integer>4500</integer>
		<key>Value1</key>
		<integer>50</integer>
	</dict>
	<key>EnvironmentObject - 7 - 3</key>
	<dict>
		<key>Object</key>
		<string>Flappy</string>
		<key>Location</key>
		<integer>4350</integer>
		<key>Value1</key>
		<real>0.97</real>
	</dict>
	<key>EnvironmentObject - 2 - 3 - 2</key>
	<dict>
		<key>Object</key>
		<string>ExpandyCloud</string>
		<key>Location</key>
		<integer>4100</integer>
	</dict>
	<key>EnvironmentObject - 2 - 4</key>
	<dict>
		<key>Object</key>
		<string>Lungey</string>
		<key>Location</key>
		<integer>4075</integer>
		<key>Value1</key>
		<integer>300</integer>
	</dict>
	<key>EnvironmentObject - 2 - 2</key>
	<dict>
		<key>Object</key>
		<string>Lungey</string>
		<key>Location</key>
		<integer>3875</integer>
		<key>Value1</key>
		<integer>300</integer>
	</dict>
	<key>EnvironmentObject - 2 - 3 - 3</key>
	<dict>
		<key>Object</key>
		<string>ExpandyCloud</string>
		<key>Location</key>
		<integer>3600</integer>
	</dict>
	<key>EnvironmentObject</key>
	<dict>
		<key>Object</key>
		<string>Motherhen</string>
		<key>Location</key>
		<integer>3600</integer>
		<key>Value1</key>
		<integer>1</integer>
		<key>Value2</key>
		<integer>1</integer>
	</dict>
	<key>EnvironmentObject - 2 - 4 - 2</key>
	<dict>
		<key>Object</key>
		<string>Steady</string>
		<key>Location</key>
		<integer>3200</integer>
		<key>Value1</key>
		<integer>20</integer>
	</dict>
	<key>EnvironmentObject - 2 - 3</key>
	<dict>
		<key>Object</key>
		<string>Lungey</string>
		<key>Location</key>
		<real>3025</real>
		<key>Value1</key>
		<integer>300</integer>
	</dict>
	<key>EnvironmentObject - 5</key>
	<dict>
		<key>Object</key>
		<string>Trampoline</string>
		<key>Location</key>
		<integer>2750</integer>
	</dict>
	<key>EnvironmentObject - 3 - 3</key>
	<dict>
		<key>Object</key>
		<string>StormCloud</string>
		<key>Location</key>
		<integer>2700</integer>
		<key>Value1</key>
		<integer>80</integer>
	</dict>
	<key>EnvironmentObject - 2 - 5 - 2</key>
	<dict>
		<key>Object</key>
		<string>Orby</string>
		<key>Location</key>
		<integer>2600</integer>
		<key>Value1</key>
		<integer>6</integer>
		<key>Value2</key>
		<integer>30</integer>
	</dict>
	<key>EnvironmentObject - 2</key>
	<dict>
		<key>Object</key>
		<string>Motherhen</string>
		<key>Location</key>
		<integer>2175</integer>
		<key>Value1</key>
		<integer>2</integer>
		<key>Value2</key>
		<integer>1</integer>
	</dict>
	<key>EnvironmentObject - 4 - 2 - 2 - 2</key>
	<dict>
		<key>Object</key>
		<string>WindBeast</string>
		<key>Location</key>
		<integer>1975</integer>
	</dict>
	<key>EnvironmentObject - 2 - 3 - 4</key>
	<dict>
		<key>Object</key>
		<string>ExpandyCloud</string>
		<key>Location</key>
		<integer>1600</integer>
	</dict>
	<key>EnvironmentObject - 3</key>
	<dict>
		<key>Object</key>
		<string>StormCloud</string>
		<key>Location</key>
		<integer>1400</integer>
		<key>Value1</key>
		<integer>100</integer>
	</dict>
	<key>EnvironmentObject - 7 - 2</key>
	<dict>
		<key>Object</key>
		<string>Flappy</string>
		<key>Location</key>
		<integer>1125</integer>
		<key>Value1</key>
		<real>0.97</real>
	</dict>
	<key>EnvironmentObject - 2 - 4 - 4</key>
	<dict>
		<key>Object</key>
		<string>Steady</string>
		<key>Location</key>
		<integer>975</integer>
		<key>Value1</key>
		<integer>15</integer>
	</dict>
	<key>EnvironmentObject - 3 - 2</key>
	<dict>
		<key>Object</key>
		<string>StormCloud</string>
		<key>Location</key>
		<integer>800</integer>
		<key>Value1</key>
		<integer>25</integer>
	</dict>
</dict>
</plist>
