<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Challenges</key>
	<array>
		<dict>
			<key>Type</key>
			<string>DontTouchObstacles</string>
			<key>Reward</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Type</key>
			<string>OneHeartLeft</string>
			<key>Reward</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>Tutorial</key>
	<array>
		<dict>
			<key>Title</key>
			<string>Watch Out!</string>
			<key>Description</key>
			<string>Minions will start to become less predictable!</string>
			<key>Type</key>
			<string>tutorial</string>
			<key>Key</key>
			<string>unpredicability</string>
			<key>Version</key>
			<real>1.1</real>
		</dict>
		<dict>
			<key>Title</key>
			<string>Schooly</string>
			<key>Description</key>
			<string>You&apos;ll never find me alone!</string>
			<key>Type</key>
			<string>environment</string>
			<key>Class</key>
			<string>Schooly</string>
			<key>Key</key>
			<string>schooly</string>
			<key>Version</key>
			<real>1.1</real>
		</dict>
	</array>
	<key>World</key>
	<string>water</string>
	<key>EnvironmentObject - 4 - 2</key>
	<dict>
		<key>Object</key>
		<string>LevelEnd</string>
		<key>Location</key>
		<integer>6650</integer>
	</dict>
	<key>EnvironmentObject</key>
	<dict>
		<key>Object</key>
		<string>Seaweed</string>
		<key>Location</key>
		<integer>6500</integer>
	</dict>
	<key>EnvironmentObject - 5</key>
	<dict>
		<key>Object</key>
		<string>Schooly</string>
		<key>Location</key>
		<integer>5950</integer>
		<key>Value1</key>
		<integer>80</integer>
	</dict>
	<key>EnvironmentObject - 6</key>
	<dict>
		<key>Object</key>
		<string>Schooly</string>
		<key>Location</key>
		<integer>5900</integer>
		<key>Value1</key>
		<integer>60</integer>
	</dict>
	<key>EnvironmentObject - 7</key>
	<dict>
		<key>Object</key>
		<string>Seaweed</string>
		<key>Location</key>
		<integer>5500</integer>
	</dict>
	<key>EnvironmentObject - 8</key>
	<dict>
		<key>Object</key>
		<string>BubbleMaker</string>
		<key>Location</key>
		<integer>5250</integer>
		<key>Value1</key>
		<real>2.5</real>
	</dict>
	<key>EnvironmentObject - 9</key>
	<dict>
		<key>Object</key>
		<string>Seaweed</string>
		<key>Location</key>
		<integer>5000</integer>
	</dict>
	<key>EnvironmentObject - 10</key>
	<dict>
		<key>Object</key>
		<string>Crab</string>
		<key>Location</key>
		<real>4600</real>
	</dict>
	<key>EnvironmentObject - 11</key>
	<dict>
		<key>Object</key>
		<string>Shark</string>
		<key>Location</key>
		<integer>4300</integer>
		<key>Value1</key>
		<integer>80</integer>
	</dict>
	<key>EnvironmentObject - 12</key>
	<dict>
		<key>Object</key>
		<string>Shark</string>
		<key>Location</key>
		<integer>4200</integer>
		<key>Value1</key>
		<integer>120</integer>
	</dict>
	<key>EnvironmentObject - 13</key>
	<dict>
		<key>Object</key>
		<string>Shark</string>
		<key>Location</key>
		<integer>4000</integer>
		<key>Value1</key>
		<integer>60</integer>
	</dict>
	<key>EnvironmentObject - 14</key>
	<dict>
		<key>Object</key>
		<string>Schooly</string>
		<key>Location</key>
		<integer>3650</integer>
		<key>Value1</key>
		<integer>120</integer>
	</dict>
	<key>EnvironmentObject - 15</key>
	<dict>
		<key>Object</key>
		<string>Schooly</string>
		<key>Location</key>
		<real>3600</real>
		<key>Value1</key>
		<integer>80</integer>
	</dict>
	<key>EnvironmentObject - 16</key>
	<dict>
		<key>Object</key>
		<string>Seaweed</string>
		<key>Location</key>
		<integer>3250</integer>
	</dict>
	<key>EnvironmentObject - 2</key>
	<dict>
		<key>Object</key>
		<string>Seaweed</string>
		<key>Location</key>
		<real>3100</real>
	</dict>
	<key>EnvironmentObject - 4 - 4 - 2</key>
	<dict>
		<key>Object</key>
		<string>BubbleMaker</string>
		<key>Location</key>
		<integer>2700</integer>
		<key>Value1</key>
		<real>2.5</real>
	</dict>
	<key>EnvironmentObject - 3</key>
	<dict>
		<key>Object</key>
		<string>Shark</string>
		<key>Location</key>
		<integer>2400</integer>
		<key>Value1</key>
		<integer>120</integer>
	</dict>
	<key>EnvironmentObject - 3 - 2</key>
	<dict>
		<key>Object</key>
		<string>Shark</string>
		<key>Location</key>
		<integer>1900</integer>
		<key>Value1</key>
		<integer>60</integer>
	</dict>
	<key>EnvironmentObject - 3 - 3</key>
	<dict>
		<key>Object</key>
		<string>Schooly</string>
		<key>Location</key>
		<integer>1450</integer>
		<key>Value1</key>
		<integer>120</integer>
	</dict>
	<key>EnvironmentObject - 4 - 4</key>
	<dict>
		<key>Object</key>
		<string>Schooly</string>
		<key>Location</key>
		<real>1400</real>
		<key>Value1</key>
		<integer>80</integer>
	</dict>
	<key>EnvironmentObject - 4</key>
	<dict>
		<key>Object</key>
		<string>Pirahna</string>
		<key>Location</key>
		<integer>1100</integer>
	</dict>
	<key>EnvironmentObject - 4 - 3</key>
	<dict>
		<key>Object</key>
		<string>Seaweed</string>
		<key>Location</key>
		<integer>800</integer>
	</dict>
</dict>
</plist>
