<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Challenges</key>
	<array>
		<dict>
			<key>Type</key>
			<string>DieByEnemies</string>
			<key>Reward</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Type</key>
			<string>DestroyAllObstacles</string>
			<key>Reward</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>World</key>
	<string>fire</string>
	<key>EnvironmentObject - 4 - 2</key>
	<dict>
		<key>Object</key>
		<string>LevelEnd</string>
		<key>Location</key>
		<integer>7650</integer>
	</dict>
	<key>EnvironmentObject - 2 - 3 - 2</key>
	<dict>
		<key>Object</key>
		<string>FireGeyser</string>
		<key>Location</key>
		<integer>7500</integer>
		<key>Value1</key>
		<integer>2</integer>
		<key>Value2</key>
		<integer>1</integer>
	</dict>
	<key>EnvironmentObject - 4</key>
	<dict>
		<key>Object</key>
		<string>FloorLava</string>
		<key>Location</key>
		<integer>7400</integer>
		<key>Value1</key>
		<real>0.6</real>
	</dict>
	<key>EnvironmentObject - 2 - 3 - 3</key>
	<dict>
		<key>Object</key>
		<string>FireGeyser</string>
		<key>Location</key>
		<integer>7300</integer>
		<key>Value1</key>
		<real>1.5</real>
		<key>Value2</key>
		<integer>1</integer>
	</dict>
	<key>EnvironmentObject - 3 - 4</key>
	<dict>
		<key>Object</key>
		<string>Slunky</string>
		<key>Location</key>
		<integer>6900</integer>
		<key>Value1</key>
		<real>0.9</real>
	</dict>
	<key>EnvironmentObject - 2 - 3 - 4</key>
	<dict>
		<key>Object</key>
		<string>FireGeyser</string>
		<key>Location</key>
		<integer>6400</integer>
		<key>Value1</key>
		<integer>2</integer>
		<key>Value2</key>
		<integer>1</integer>
	</dict>
	<key>EnvironmentObject - 2 - 2 - 2 - 3</key>
	<dict>
		<key>Object</key>
		<string>Firebomber</string>
		<key>Location</key>
		<integer>6100</integer>
		<key>Value1</key>
		<integer>320</integer>
	</dict>
	<key>EnvironmentObject</key>
	<dict>
		<key>Object</key>
		<string>Slanky</string>
		<key>Location</key>
		<integer>5800</integer>
		<key>Value1</key>
		<real>0.8</real>
	</dict>
	<key>EnvironmentObject - 3 - 3 - 2</key>
	<dict>
		<key>Object</key>
		<string>SpikeRock</string>
		<key>Location</key>
		<integer>5320</integer>
	</dict>
	<key>EnvironmentObject - 3 - 3 - 4</key>
	<dict>
		<key>Object</key>
		<string>FirePole</string>
		<key>Location</key>
		<integer>5200</integer>
	</dict>
	<key>EnvironmentObject - 4 - 3</key>
	<dict>
		<key>Object</key>
		<string>FloorLava</string>
		<key>Location</key>
		<integer>5150</integer>
		<key>Value1</key>
		<real>0.6</real>
	</dict>
	<key>EnvironmentObject - 2 - 3</key>
	<dict>
		<key>Object</key>
		<string>FireGeyser</string>
		<key>Location</key>
		<integer>5000</integer>
		<key>Value1</key>
		<real>1.1</real>
		<key>Value2</key>
		<integer>1</integer>
	</dict>
	<key>EnvironmentObject - 2 - 4</key>
	<dict>
		<key>Object</key>
		<string>Bomber</string>
		<key>Location</key>
		<integer>4780</integer>
		<key>Value1</key>
		<integer>400</integer>
	</dict>
	<key>EnvironmentObject - 2</key>
	<dict>
		<key>Object</key>
		<string>Bomber</string>
		<key>Location</key>
		<integer>4600</integer>
		<key>Value1</key>
		<integer>500</integer>
	</dict>
	<key>EnvironmentObject - 3</key>
	<dict>
		<key>Object</key>
		<string>Danger</string>
		<key>Location</key>
		<integer>4300</integer>
		<key>Value1</key>
		<integer>55</integer>
	</dict>
	<key>EnvironmentObject - 3 - 5</key>
	<dict>
		<key>Object</key>
		<string>Danger</string>
		<key>Location</key>
		<integer>4250</integer>
		<key>Value1</key>
		<integer>55</integer>
	</dict>
	<key>EnvironmentObject - 4 - 3 - 2</key>
	<dict>
		<key>Object</key>
		<string>FloorLava</string>
		<key>Location</key>
		<integer>4000</integer>
		<key>Value1</key>
		<real>0.6</real>
	</dict>
	<key>EnvironmentObject - 2 - 2</key>
	<dict>
		<key>Object</key>
		<string>Ember</string>
		<key>Location</key>
		<integer>3750</integer>
		<key>Value1</key>
		<integer>350</integer>
		<key>Value2</key>
		<integer>80</integer>
	</dict>
	<key>EnvironmentObject - 3 - 2</key>
	<dict>
		<key>Object</key>
		<string>Danger</string>
		<key>Location</key>
		<integer>3360</integer>
		<key>Value1</key>
		<integer>85</integer>
	</dict>
	<key>EnvironmentObject - 3 - 3</key>
	<dict>
		<key>Object</key>
		<string>Danger</string>
		<key>Location</key>
		<integer>3300</integer>
		<key>Value1</key>
		<integer>85</integer>
	</dict>
	<key>EnvironmentObject - 3 - 3 - 3</key>
	<dict>
		<key>Object</key>
		<string>SpikeRock</string>
		<key>Location</key>
		<integer>3000</integer>
	</dict>
	<key>EnvironmentObject - 2 - 2 - 2</key>
	<dict>
		<key>Object</key>
		<string>Ember</string>
		<key>Location</key>
		<integer>2750</integer>
		<key>Value1</key>
		<integer>350</integer>
		<key>Value2</key>
		<integer>80</integer>
	</dict>
	<key>EnvironmentObject - 2 - 2 - 2 - 4</key>
	<dict>
		<key>Object</key>
		<string>Firebomber</string>
		<key>Location</key>
		<integer>2400</integer>
		<key>Value1</key>
		<integer>320</integer>
	</dict>
	<key>EnvironmentObject - 2 - 2 - 2 - 2</key>
	<dict>
		<key>Object</key>
		<string>Firebomber</string>
		<key>Location</key>
		<integer>2200</integer>
		<key>Value1</key>
		<integer>320</integer>
	</dict>
	<key>EnvironmentObject - 3 - 3 - 5</key>
	<dict>
		<key>Object</key>
		<string>SpikeRock</string>
		<key>Location</key>
		<integer>2000</integer>
	</dict>
	<key>EnvironmentObject - 3 - 7</key>
	<dict>
		<key>Object</key>
		<string>Danger</string>
		<key>Location</key>
		<integer>1640</integer>
		<key>Value1</key>
		<integer>55</integer>
	</dict>
	<key>EnvironmentObject - 3 - 6</key>
	<dict>
		<key>Object</key>
		<string>Danger</string>
		<key>Location</key>
		<integer>1600</integer>
		<key>Value1</key>
		<integer>55</integer>
	</dict>
	<key>EnvironmentObject - 2 - 4 - 2</key>
	<dict>
		<key>Object</key>
		<string>Flamey</string>
		<key>Location</key>
		<integer>1300</integer>
		<key>Value1</key>
		<integer>7200</integer>
	</dict>
	<key>EnvironmentObject - 3 - 4 - 2</key>
	<dict>
		<key>Object</key>
		<string>Slunky</string>
		<key>Location</key>
		<integer>700</integer>
		<key>Value1</key>
		<real>0.7</real>
	</dict>
</dict>
</plist>
