<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Tutorial</key>
	<array>
		<dict>
			<key>Title</key>
			<string>What&apos;s New in 2.2?</string>
			<key>Description</key>
			<string>- Support for iOS 11!</string>
			<key>Description2</key>
			<string></string>
			<key>Description3</key>
			<string></string>
			<key>Description4</key>
			<string></string>
			<key>Description5</key>
			<string></string>
			<key>Key</key>
			<string>whats_new_main_menu</string>
			<key>Version</key>
			<integer>210</integer>
			<key>FirstPlayDescription</key>
			<string>Welcome to Mort&apos;s Minions! Select a hero and start your adventure today!</string>
			<key>FirstPlayTitle</key>
			<string>Welcome!</string>
		</dict>
	</array>
</dict>
</plist>
