<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Tutorial</key>
	<array>
		<dict>
			<key>Title</key>
			<string>What&apos;s New in 1.1?</string>
			<key>Description</key>
			<string>- Limited time all heroes now free! Play once to unlock.</string>
			<key>Description2</key>
			<string>- Now earn more stars when getting 100% on a level!</string>
			<key>Description3</key>
			<string>- Skills are easier to obtain early on.</string>
			<key>Description4</key>
			<string>- Trade your gems for stars in the trade menu on your hero&apos;s skills page.</string>
			<key>Description5</key>
			<string>- New heart boost rewards!</string>
			<key>Key</key>
			<string>whats_new_main_menu</string>
			<key>Version</key>
			<integer>110</integer>
			<key>FirstPlayDescription</key>
			<string>Welcome to Mort&apos;s Minions! Select a hero and start your adventure today!</string>
			<key>FirstPlayTitle</key>
			<string>Welcome!</string>
		</dict>
	</array>
</dict>
</plist>
