<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Tutorial</key>
	<array>
		<dict>
			<key>Title</key>
			<string>What&apos;s New in 2.0?</string>
			<key>Description</key>
			<string>- WORLD 5 COMPLETE with 15 all new enemies!</string>
			<key>Description2</key>
			<string>- Brand NEW MUSIC - turn it up!</string>
			<key>Description3</key>
			<string>- Every hero has a NEW SKILL, Fairy Guardian</string>
			<key>Description4</key>
			<string>- Jim and May&apos;s skills have been improved</string>
			<key>Description5</key>
			<string>- 8 all new Game Center achivements</string>
			<key>Key</key>
			<string>whats_new_main_menu</string>
			<key>Version</key>
			<integer>200</integer>
			<key>FirstPlayDescription</key>
			<string>Welcome to Mort&apos;s Minions! Select a hero and start your adventure today!</string>
			<key>FirstPlayTitle</key>
			<string>Welcome!</string>
		</dict>
	</array>
</dict>
</plist>
