<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>World</key>
	<string>fire</string>
	<key>EnvironmentObject - 4 - 2</key>
	<dict>
		<key>Object</key>
		<string>LevelEnd</string>
		<key>Location</key>
		<integer>4500</integer>
	</dict>
	<key>EnvironmentObject - 3</key>
	<dict>
		<key>Object</key>
		<string>Slunky</string>
		<key>Location</key>
		<real>2000</real>
		<key>Value1</key>
		<real>1.2</real>
	</dict>
	<key>EnvironmentObject - 2</key>
	<dict>
		<key>Object</key>
		<string>Prowler</string>
		<key>Location</key>
		<real>1000</real>
	</dict>
</dict>
</plist>
