<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>Cost</key>
			<integer>0</integer>
			<key>Currency</key>
			<string>stars</string>
		</dict>
		<dict>
			<key>Cost</key>
			<integer>4</integer>
			<key>Currency</key>
			<string>stars</string>
		</dict>
		<dict>
			<key>Cost</key>
			<integer>6</integer>
			<key>Currency</key>
			<string>stars</string>
		</dict>
		<dict>
			<key>Cost</key>
			<integer>4</integer>
			<key>Currency</key>
			<string>citrine</string>
		</dict>
		<dict>
			<key>Cost</key>
			<integer>8</integer>
			<key>Currency</key>
			<string>stars</string>
		</dict>
		<dict>
			<key>Cost</key>
			<integer>7</integer>
			<key>Currency</key>
			<string>citrine</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>Cost</key>
			<integer>12</integer>
			<key>Currency</key>
			<string>stars</string>
		</dict>
		<dict>
			<key>Cost</key>
			<integer>4</integer>
			<key>Currency</key>
			<string>stars</string>
		</dict>
		<dict>
			<key>Cost</key>
			<integer>7</integer>
			<key>Currency</key>
			<string>stars</string>
		</dict>
		<dict>
			<key>Cost</key>
			<integer>5</integer>
			<key>Currency</key>
			<string>citrine</string>
		</dict>
		<dict>
			<key>Cost</key>
			<integer>11</integer>
			<key>Currency</key>
			<string>stars</string>
		</dict>
		<dict>
			<key>Cost</key>
			<integer>8</integer>
			<key>Currency</key>
			<string>citrine</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>Cost</key>
			<integer>16</integer>
			<key>Currency</key>
			<string>stars</string>
		</dict>
		<dict>
			<key>Cost</key>
			<integer>6</integer>
			<key>Currency</key>
			<string>stars</string>
		</dict>
		<dict>
			<key>Cost</key>
			<integer>10</integer>
			<key>Currency</key>
			<string>stars</string>
		</dict>
		<dict>
			<key>Cost</key>
			<integer>5</integer>
			<key>Currency</key>
			<string>citrine</string>
		</dict>
		<dict>
			<key>Cost</key>
			<integer>12</integer>
			<key>Currency</key>
			<string>stars</string>
		</dict>
		<dict>
			<key>Cost</key>
			<integer>8</integer>
			<key>Currency</key>
			<string>citrine</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>Cost</key>
			<integer>18</integer>
			<key>Currency</key>
			<string>stars</string>
		</dict>
		<dict>
			<key>Cost</key>
			<integer>12</integer>
			<key>Currency</key>
			<string>stars</string>
		</dict>
		<dict>
			<key>Cost</key>
			<integer>16</integer>
			<key>Currency</key>
			<string>stars</string>
		</dict>
		<dict>
			<key>Cost</key>
			<integer>6</integer>
			<key>Currency</key>
			<string>citrine</string>
		</dict>
		<dict>
			<key>Cost</key>
			<integer>18</integer>
			<key>Currency</key>
			<string>stars</string>
		</dict>
		<dict>
			<key>Cost</key>
			<integer>9</integer>
			<key>Currency</key>
			<string>citrine</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>Cost</key>
			<integer>20</integer>
			<key>Currency</key>
			<string>stars</string>
		</dict>
		<dict>
			<key>Cost</key>
			<integer>14</integer>
			<key>Currency</key>
			<string>stars</string>
		</dict>
		<dict>
			<key>Cost</key>
			<integer>16</integer>
			<key>Currency</key>
			<string>stars</string>
		</dict>
		<dict>
			<key>Cost</key>
			<integer>7</integer>
			<key>Currency</key>
			<string>citrine</string>
		</dict>
		<dict>
			<key>Cost</key>
			<integer>18</integer>
			<key>Currency</key>
			<string>stars</string>
		</dict>
		<dict>
			<key>Cost</key>
			<integer>10</integer>
			<key>Currency</key>
			<string>citrine</string>
		</dict>
	</array>
</array>
</plist>
