<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>Name</key>
			<string>jump</string>
			<key>IconName</key>
			<string>iconjump</string>
			<key>Type</key>
			<string>skill</string>
			<key>Id</key>
			<string>jump</string>
			<key>Cost</key>
			<integer>0</integer>
			<key>Currency</key>
			<string>stars</string>
			<key>Description</key>
			<string>Allows Leonard to jump.</string>
			<key>ActivationMethod</key>
			<string>press</string>
			<key>Value</key>
			<integer>5000</integer>
			<key>TutorialVersion</key>
			<integer>4</integer>
			<key>TutorialText</key>
			<string>Hold anywhere on the screen to jump continuously or tap to jump once.</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Moon Shoes</string>
			<key>Type</key>
			<string>boost</string>
			<key>TargetSkill</key>
			<string>jump</string>
			<key>Id</key>
			<string>rubber_sneakers</string>
			<key>Cost</key>
			<integer>4</integer>
			<key>Currency</key>
			<string>stars</string>
			<key>Description</key>
			<string>Enhances Leonard&apos;s ability to jump, adding height to every jump.</string>
			<key>Value</key>
			<integer>700</integer>
		</dict>
		<dict>
			<key>Name</key>
			<string>Moon Shoes 2</string>
			<key>Type</key>
			<string>boost</string>
			<key>TargetSkill</key>
			<string>jump</string>
			<key>Id</key>
			<string>moon_shoes</string>
			<key>Cost</key>
			<integer>6</integer>
			<key>Currency</key>
			<string>stars</string>
			<key>Description</key>
			<string>Further enhances Leonard&apos;s ability to jump, adding more height to every jump.</string>
			<key>Value</key>
			<integer>450</integer>
		</dict>
		<dict>
			<key>Name</key>
			<string>Double Jump</string>
			<key>Type</key>
			<string>enhancement</string>
			<key>TargetSkill</key>
			<string>jump</string>
			<key>Id</key>
			<string>double_jump</string>
			<key>Cost</key>
			<integer>4</integer>
			<key>Currency</key>
			<string>citrine</string>
			<key>Description</key>
			<string>Allows Leonard to jump a 2nd time while in the air.</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Moon Shoes 3</string>
			<key>Type</key>
			<string>boost</string>
			<key>TargetSkill</key>
			<string>jump</string>
			<key>Id</key>
			<string>superjump</string>
			<key>Cost</key>
			<integer>8</integer>
			<key>Currency</key>
			<string>stars</string>
			<key>Description</key>
			<string>Gives Leonard a super jump, adding even more height to every jump.</string>
			<key>Value</key>
			<integer>350</integer>
		</dict>
		<dict>
			<key>Name</key>
			<string>Triple Jump</string>
			<key>Type</key>
			<string>enhancement</string>
			<key>TargetSkill</key>
			<string>jump</string>
			<key>Id</key>
			<string>triplejump</string>
			<key>Cost</key>
			<integer>7</integer>
			<key>Currency</key>
			<string>citrine</string>
			<key>Description</key>
			<string>Allows Leonard to jump a 3rd time while in the air.</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>Name</key>
			<string>Dive Bomb</string>
			<key>IconName</key>
			<string>icondivebomb</string>
			<key>Type</key>
			<string>skill</string>
			<key>Id</key>
			<string>divebomb</string>
			<key>Cost</key>
			<integer>12</integer>
			<key>Currency</key>
			<string>stars</string>
			<key>Description</key>
			<string>Allows Leonard to launch himself to the ground causing 1 damage to anything his charge field touches. Leonard is immune to damage until he reaches the ground. Skill is available to use every 24 seconds.</string>
			<key>ActivationMethod</key>
			<string>release</string>
			<key>Restriction</key>
			<string>air</string>
			<key>Cooldown</key>
			<integer>24</integer>
			<key>Value</key>
			<real>4000</real>
			<key>SecondaryValue</key>
			<integer>1</integer>
			<key>DeactivatesOnGround</key>
			<true/>
			<key>TutorialVersion</key>
			<integer>1</integer>
			<key>TutorialText</key>
			<string>Press the button to activate dive bomb.</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Expert Diver</string>
			<key>Type</key>
			<string>boost</string>
			<key>TargetSkill</key>
			<string>divebomb</string>
			<key>Id</key>
			<string>expertdiver</string>
			<key>Cost</key>
			<integer>4</integer>
			<key>Currency</key>
			<string>stars</string>
			<key>Value</key>
			<integer>1500</integer>
			<key>Description</key>
			<string>Increases the speed of Leonard&apos;s dive allowing him to reach the ground quicker.</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Electro Charge</string>
			<key>Type</key>
			<string>boost</string>
			<key>TargetSkill</key>
			<string>divebomb</string>
			<key>Id</key>
			<string>electrocharge</string>
			<key>Cost</key>
			<integer>7</integer>
			<key>Currency</key>
			<string>stars</string>
			<key>Description</key>
			<string>Increases the size of Leonard&apos;s charge field allowing him to reach further.</string>
			<key>SecondaryValue</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Name</key>
			<string>Quantum Charge</string>
			<key>Type</key>
			<string>boost</string>
			<key>TargetSkill</key>
			<string>divebomb</string>
			<key>Id</key>
			<string>quantumcharge</string>
			<key>Cost</key>
			<integer>5</integer>
			<key>Currency</key>
			<string>citrine</string>
			<key>Description</key>
			<string>Increases the size of Leonard&apos;s charge field even futher and reduces the recharge rate of dive bomb to 20 seconds.</string>
			<key>Cooldown</key>
			<integer>4</integer>
			<key>SecondaryValue</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Name</key>
			<string>Faster Regen</string>
			<key>Type</key>
			<string>boost</string>
			<key>TargetSkill</key>
			<string>divebomb</string>
			<key>Id</key>
			<string>fasterregen</string>
			<key>Cost</key>
			<integer>11</integer>
			<key>Currency</key>
			<string>stars</string>
			<key>Description</key>
			<string>Further reduces the recharge rate of Leonard&apos;s dive bomb to 16 seconds.</string>
			<key>Cooldown</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>Name</key>
			<string>Shock Wave</string>
			<key>Type</key>
			<string>boost</string>
			<key>TargetSkill</key>
			<string>divebomb</string>
			<key>Id</key>
			<string>shockwave</string>
			<key>Cost</key>
			<integer>8</integer>
			<key>Currency</key>
			<string>citrine</string>
			<key>Description</key>
			<string>When Leonard lands his dive bomb, the impact is so great that it causes a shock wave surrounding him, damaging anything left in the area even further.</string>
			<key>Range</key>
			<integer>250</integer>
		</dict>
	</array>
	<array>
		<dict>
			<key>Name</key>
			<string>Hover</string>
			<key>IconName</key>
			<string>iconhover</string>
			<key>Type</key>
			<string>skill</string>
			<key>Id</key>
			<string>hover</string>
			<key>Cost</key>
			<integer>16</integer>
			<key>Currency</key>
			<string>stars</string>
			<key>Description</key>
			<string>Leonard hovers in mid-air, freezing his vertical movement until the skill ends. Leonard can spend a total of 3 seconds hovering.</string>
			<key>ActivationMethod</key>
			<string>press</string>
			<key>ChargeCount</key>
			<integer>3</integer>
			<key>Restriction</key>
			<string>air</string>
			<key>DeactivatesOnGround</key>
			<true/>
			<key>TutorialVersion</key>
			<integer>1</integer>
			<key>TutorialText</key>
			<string>While in the air, hold down the button to activate hover. When the button is released or when the skill runs out, hover is no longer active.</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Hover Longer</string>
			<key>Type</key>
			<string>boost</string>
			<key>TargetSkill</key>
			<string>hover</string>
			<key>Id</key>
			<string>hoverlonger</string>
			<key>Cost</key>
			<integer>6</integer>
			<key>Currency</key>
			<string>stars</string>
			<key>Description</key>
			<string>Leonard is now able to hover for 4.5 seconds.</string>
			<key>ChargeCount</key>
			<real>1.5</real>
		</dict>
		<dict>
			<key>Name</key>
			<string>Hover Longer 2</string>
			<key>Type</key>
			<string>boost</string>
			<key>TargetSkill</key>
			<string>hover</string>
			<key>Id</key>
			<string>hoverlonger2</string>
			<key>Cost</key>
			<integer>10</integer>
			<key>Currency</key>
			<string>stars</string>
			<key>Description</key>
			<string>Leonard is now able to hover for 6 seconds.</string>
			<key>ChargeCount</key>
			<real>1.5</real>
		</dict>
		<dict>
			<key>Name</key>
			<string>Projectile Dodge</string>
			<key>Type</key>
			<string>boost</string>
			<key>TargetSkill</key>
			<string>hover</string>
			<key>Id</key>
			<string>projectiledodge</string>
			<key>Cost</key>
			<integer>5</integer>
			<key>Currency</key>
			<string>citrine</string>
			<key>Description</key>
			<string>Leonard is able to dodge 1 projectile when hovering, taking no damage from it. </string>
			<key>Value</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Name</key>
			<string>Hover Longer 3</string>
			<key>Type</key>
			<string>boost</string>
			<key>TargetSkill</key>
			<string>hover</string>
			<key>Id</key>
			<string>hoverlonger3</string>
			<key>Cost</key>
			<integer>12</integer>
			<key>Currency</key>
			<string>stars</string>
			<key>Description</key>
			<string>Leonard is now able to hover for 7.5 seconds.</string>
			<key>ChargeCount</key>
			<real>1.5</real>
		</dict>
		<dict>
			<key>Name</key>
			<string>Projectile Dodge 2</string>
			<key>Type</key>
			<string>boost</string>
			<key>TargetSkill</key>
			<string>hover</string>
			<key>Id</key>
			<string>projectiledodge2</string>
			<key>Cost</key>
			<integer>8</integer>
			<key>Currency</key>
			<string>citrine</string>
			<key>Description</key>
			<string>Leonard is now able to dodge 2 projectiles when hovering, taking no damage from either. </string>
			<key>Value</key>
			<integer>1</integer>
		</dict>
	</array>
	<array>
		<dict>
			<key>Name</key>
			<string>Ki Wave</string>
			<key>IconName</key>
			<string>iconkiwave</string>
			<key>Type</key>
			<string>skill</string>
			<key>Id</key>
			<string>kiwave</string>
			<key>Cost</key>
			<integer>12</integer>
			<key>Currency</key>
			<string>stars</string>
			<key>Description</key>
			<string>Leonard uses his ki power to send a shockwave forward, damaging anything in its path. Skill is available to use every 24 seconds.</string>
			<key>ActivationMethod</key>
			<string>release</string>
			<key>Cooldown</key>
			<integer>24</integer>
			<key>Value</key>
			<integer>1</integer>
			<key>SecondaryValue</key>
			<integer>1</integer>
			<key>TutorialVersion</key>
			<integer>1</integer>
			<key>TutorialText</key>
			<string>Press the button to activate ki wave.</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Quicker Cooldown</string>
			<key>Type</key>
			<string>boost</string>
			<key>TargetSkill</key>
			<string>kiwave</string>
			<key>Id</key>
			<string>quickercooldown</string>
			<key>Cost</key>
			<integer>4</integer>
			<key>Currency</key>
			<string>stars</string>
			<key>Description</key>
			<string>Studies in cooldown reduction allow Leonard to send out of wave every 18 seconds.</string>
			<key>Cooldown</key>
			<integer>6</integer>
		</dict>
		<dict>
			<key>Name</key>
			<string>More Energy</string>
			<key>Type</key>
			<string>boost</string>
			<key>TargetSkill</key>
			<string>kiwave</string>
			<key>Id</key>
			<string>moreenergy</string>
			<key>Cost</key>
			<integer>7</integer>
			<key>Currency</key>
			<string>stars</string>
			<key>Description</key>
			<string>Leonard concentrates harder and sends out a ki wave that is double in size.</string>
			<key>Value</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Name</key>
			<string>Force Blast</string>
			<key>Type</key>
			<string>boost</string>
			<key>TargetSkill</key>
			<string>kiwave</string>
			<key>Id</key>
			<string>forceblast</string>
			<key>Cost</key>
			<integer>5</integer>
			<key>Currency</key>
			<string>citrine</string>
			<key>Description</key>
			<string>The force of Leonard&apos;s wave is greater, allowing it to pass through 2 objects.</string>
			<key>SecondaryValue</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Name</key>
			<string>More Energy 2</string>
			<key>Type</key>
			<string>boost</string>
			<key>TargetSkill</key>
			<string>kiwave</string>
			<key>Id</key>
			<string>moreenergy2</string>
			<key>Cost</key>
			<integer>11</integer>
			<key>Currency</key>
			<string>stars</string>
			<key>Description</key>
			<string>Leonard concentrates further and sends out a ki wave that is triple in size.</string>
			<key>Value</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Name</key>
			<string>Force Blast 2</string>
			<key>Type</key>
			<string>boost</string>
			<key>TargetSkill</key>
			<string>kiwave</string>
			<key>Id</key>
			<string>forceblast2</string>
			<key>Cost</key>
			<integer>8</integer>
			<key>Currency</key>
			<string>citrine</string>
			<key>Description</key>
			<string>The force of Leonard&apos;s wave is greater, allowing it to pass through 3 objects.</string>
			<key>SecondaryValue</key>
			<integer>1</integer>
		</dict>
	</array>
	<array>
		<dict>
			<key>Name</key>
			<string>Ki Shield</string>
			<key>IconName</key>
			<string>iconkishield</string>
			<key>Type</key>
			<string>skill</string>
			<key>Id</key>
			<string>kishield</string>
			<key>Cost</key>
			<integer>16</integer>
			<key>Currency</key>
			<string>stars</string>
			<key>Description</key>
			<string>Leonard puts up a ki shield making him immune to all damage for 2 seconds.</string>
			<key>ActivationMethod</key>
			<string>release</string>
			<key>Cooldown</key>
			<integer>24</integer>
			<key>ActiveLength</key>
			<integer>2</integer>
			<key>TutorialVersion</key>
			<integer>1</integer>
			<key>TutorialText</key>
			<string>Press the button to activate ki shield.</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Shield Power</string>
			<key>Type</key>
			<string>boost</string>
			<key>TargetSkill</key>
			<string>kishield</string>
			<key>Id</key>
			<string>shieldpower</string>
			<key>Cost</key>
			<integer>6</integer>
			<key>Currency</key>
			<string>stars</string>
			<key>Description</key>
			<string>Leonard is now able to use his ki shield for 3 seconds.</string>
			<key>ActiveLength</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Name</key>
			<string>Shield Power 2</string>
			<key>Type</key>
			<string>boost</string>
			<key>TargetSkill</key>
			<string>kishield</string>
			<key>Id</key>
			<string>shieldpower2</string>
			<key>Cost</key>
			<integer>10</integer>
			<key>Currency</key>
			<string>stars</string>
			<key>Description</key>
			<string>Leonard is now able to use his ki shield for 4 seconds.</string>
			<key>ActiveLength</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Name</key>
			<string>Heart Power</string>
			<key>Type</key>
			<string>boost</string>
			<key>TargetSkill</key>
			<string>kishield</string>
			<key>Id</key>
			<string>heartpower</string>
			<key>Cost</key>
			<integer>5</integer>
			<key>Currency</key>
			<string>citrine</string>
			<key>Description</key>
			<string>Increases Leonard&apos;s total hearts to 4.</string>
			<key>Value</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Name</key>
			<string>Shield Power 3</string>
			<key>Type</key>
			<string>boost</string>
			<key>TargetSkill</key>
			<string>kishield</string>
			<key>Id</key>
			<string>shieldpower3</string>
			<key>Cost</key>
			<integer>12</integer>
			<key>Currency</key>
			<string>stars</string>
			<key>Description</key>
			<string>Leonard is now able to use his ki shield for 5 seconds.</string>
			<key>ActiveLength</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Name</key>
			<string>Heart Power 2</string>
			<key>Type</key>
			<string>boost</string>
			<key>TargetSkill</key>
			<string>kishield</string>
			<key>Id</key>
			<string>heartpower2</string>
			<key>Cost</key>
			<integer>8</integer>
			<key>Currency</key>
			<string>citrine</string>
			<key>Description</key>
			<string>Increases Leonard&apos;s total hearts to 5.</string>
			<key>Value</key>
			<integer>1</integer>
		</dict>
	</array>
	<array>
		<dict>
			<key>Name</key>
			<string>fairy guardian</string>
			<key>IconName</key>
			<string>iconfairyguardian</string>
			<key>Type</key>
			<string>skill</string>
			<key>Id</key>
			<string>fairyguardian</string>
			<key>Description</key>
			<string>[Passive] Leonard befriends a fairy to protect him. The guardian will protect Leonard and retaliate when hit, every 28 seconds.</string>
			<key>ActivationMethod</key>
			<string>passive</string>
			<key>Cooldown</key>
			<integer>28</integer>
			<key>Value</key>
			<real>0.4</real>
			<key>SecondaryValue</key>
			<integer>1</integer>
			<key>TutorialVersion</key>
			<integer>1</integer>
			<key>TutorialText</key>
			<string>This is a passive skill. You automatically get the benefits without having to do any work!</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>fairy size 1</string>
			<key>Type</key>
			<string>boost</string>
			<key>TargetSkill</key>
			<string>fairyguardian</string>
			<key>Id</key>
			<string>fairysize1</string>
			<key>Description</key>
			<string>Increases the fairy&apos;s size, allowing her to stop more danger.</string>
			<key>Value</key>
			<real>0.15</real>
		</dict>
		<dict>
			<key>Name</key>
			<string>fairy defense 1</string>
			<key>Type</key>
			<string>boost</string>
			<key>TargetSkill</key>
			<string>fairyguardian</string>
			<key>Id</key>
			<string>fairydefense1</string>
			<key>Description</key>
			<string>Increases the fairy&apos;s defenses, allowing her to protect every 18 seconds.</string>
			<key>Cooldown</key>
			<integer>10</integer>
		</dict>
		<dict>
			<key>Name</key>
			<string>fairy blast 1</string>
			<key>Type</key>
			<string>boost</string>
			<key>TargetSkill</key>
			<string>fairyguardian</string>
			<key>Id</key>
			<string>fairyblast1</string>
			<key>Description</key>
			<string>Further increases the fairy&apos;s retaliation, shooting 2 projectiles when hit.</string>
			<key>SecondaryValue</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Name</key>
			<string>fairy size 2</string>
			<key>Type</key>
			<string>boost</string>
			<key>TargetSkill</key>
			<string>fairyguardian</string>
			<key>Id</key>
			<string>fairysize2</string>
			<key>Description</key>
			<string>Further increases the fairy&apos;s size, allowing her to stop even more danger.</string>
			<key>Value</key>
			<real>0.15</real>
		</dict>
		<dict>
			<key>Name</key>
			<string>fairy blast 2</string>
			<key>Type</key>
			<string>boost</string>
			<key>TargetSkill</key>
			<string>fairyguardian</string>
			<key>Id</key>
			<string>fairyblast2</string>
			<key>Description</key>
			<string>Further increases the fairy&apos;s retaliation, shooting 3 projectiles when hit.</string>
			<key>SecondaryValue</key>
			<integer>1</integer>
		</dict>
	</array>
</array>
</plist>
